body {

}

.container {
    width: 60%;
    border: 5px solid #ddd;
    padding: 10px;
}

.container h3 {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding-bottom: 5px;
}

.general-information {
    display: flex;
}

    .general-information .input-form {
        width: 80%;
        margin: 10px 10px 0 0;
}

.input-line {
    display: flex;
    align-items: center;
    padding:0;
    margin: 5px 0;
}

.left-label {
    width: 150px;
}

.employee-id, .employee-name, .employee-email, .employee-phone, .employee-position, .employee-department {
    width: calc(100% - 160px);
    height: 27px;
}

.employee-idplace {
    margin-top: 5px;
    margin-bottom: 10px;
    width: calc(100% - 160px);
}

.employee-dob, .employee-idcard {
    width: 100px;
}

.upload-image img {
    display: block;
    margin: 13px auto 5px;
    width: 170px;
    height: 170px;
    background-size: contain;
}

.upload-image p {
    margin: 0 auto;
    text-align: center;
    width: 160px;
}

.input-line-2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 5px 0;
}