/*css cho dialog - form hiển thị chi tiết, thêm mới, sửa thông tin khách hàng, nhân viên*/
#dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 700px;
    height: auto;
    background-color: #ffffff;
    z-index: 1000;
}

.dialog-header{
    margin: 24px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.dialog-content {
    background-color: #ffffff;
    height: calc(100% - 48px);
    margin: 24px 16px 24px 24px;
}


    .dialog-content .img-customer{
        float: left;
        width: 200px;
        height: 215px;
        
        margin-right: 10px;
        margin-bottom: 16px;
    }
        .dialog-content .img-customer .el-avatar {
            width: 200px;
            height: 180px;
            background-image: url('../../content/img/default-avatar.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .dialog-content .info-customer {
            color: #000000;
            font-size: 13px;
        }

    .dialog-content .info-customer-right {
        /*position: absolute;
        right: 24px;*/
        float:left;
        width: calc(100% - 210px);
        
    }

.dialog-content .info-customer .label-info{
    margin-bottom: 4px;
}

.info-customer-right .info-customer{
    margin-right: 8px;
    width: 50%;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    color: #bbbbbb;
    outline: none;
    border: 1px solid #000000;
    box-sizing: border-box;
}

input:focus {
    border: 1px solid #019160;
}

.info-customer select {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    color: #000000;
    font-size: 13px;
}

.info-customer form input {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    background-color: #ffffff;
    width:20px;
    height: 20px;
    margin-right: 8px;
}

.info-customer form.selected {
    background-color: #019160;
}


.info-customer-row1 {
    display: flex;
    margin-bottom: 16px;
}

.info-customer-row2 {
    display: flex;
    margin-bottom: 16px;
}
.info-customer-row3 {
    display: flex;
    margin-bottom: 16px;
}

.info-customer-row4 {
    width:100%;
    display: flex;
    margin-bottom: 16px;
}
.info-customer-row5 {
    display: flex;
    margin-bottom: 16px;
}
.info-customer-row6 {
    display: flex;
    margin-bottom: 16px;
}

.dialog-content .info-customer{
    margin-right: 8px;
}

.info-customer-bottom .row-left {
    width: 370px;
}

.info-customer-bottom .row-right {
    width: calc(100% - 390px);
}

.info-customer-row6 .info-customer {
    width: 100%;
}

.info-customer-row6 .info-customer input {
    margin-right:8px;
    width: 100%;
}
.tfoot-dialog {
    display: flex;
    height: 60px;
    background-color: #E9EBEE;
    align-items: center;
}

    .tfoot-dialog button {
        background-color: #019160;
        border-radius: 4px;
        height: 40px;
        color: #ffffff;
        font-size: 13px;
        text-align: center;
        padding: 0 24px;
        border: none;
        margin-left: 16px;
        margin-right: 10px;
        width: 100px;
    }
        .tfoot-dialog button:hover {
            background-color: #2FBE8E;
        }

    .tfoot-dialog>div{
        position: absolute;
        right: 16px;
        align-items: center;
    }
    .tfoot-dialog .btn-cancel {
        background-color: #E9EBEE; 
        border: none;
        color: #000000;
        width: 100px;
    }

        .tfoot-dialog .btn-cancel:hover {
            background-color: #DADCE0;
            border: none;
        }
