.right-content .content {
    width: 100%;
    height: calc(100% - 61px);
}

    .right-content .content .header-content {
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

        .right-content .content .header-content .header-content {
            height: 40px;
        }

        .right-content .content .header-content .name-page {
            font-size: 24px;
            padding: 16px;
        }

        .right-content .content .header-content .header-features {
            display: flex;
            margin-right: 20px;
        }

            .right-content .content .header-content .header-features .synchronized, .add-employee {
                align-self: center;
                height: 40px;
                margin-right: 20px;
                width: 170px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                display: flex;
                text-align: center;
                line-height: 40px;
            }

                .right-content .content .header-content .header-features .synchronized button {
                    border: none;
                    background-color: #ffffff;
                    font-family: 'GoogleSans-Regular';
                }

            .right-content .content .header-content .header-features .add-employee button {
                border: none;
                background-color: #ffffff;
                font-family: 'GoogleSans-Regular';
                width: 101px;
                background-color: #019160;
            }

            .right-content .content .header-content .header-features .synchronized:hover {
                background-color: #019160;
            }

                .right-content .content .header-content .header-features .synchronized:hover button {
                    background-color: #019160;
                    color: white;
                }

            .right-content .content .header-content .header-features .synchronized .synchronized-icon {
                font-size: 16px;
                color: aquamarine;
                margin-left: 16px;
                margin-right: 8px;
            }

            .right-content .content .header-content .header-features .synchronized .synchronized-name {
                color: #01b075;
            }

            .right-content .content .header-content .header-features .synchronized:hover .synchronized-name {
                color: #ffffff;
            }

            .right-content .content .header-content .header-features .add-employee {
                background-color: #019160;
                width: 190px;
                margin-right: 10px;
            }

                .right-content .content .header-content .header-features .add-employee .title-add-employee {
                    display: flex;
                    padding-right: 10px;
                    border-right: 1px solid #674e4e;
                }

                    .right-content .content .header-content .header-features .add-employee .title-add-employee:hover {
                        background-color: #2FBE8E;
                    }

                        .right-content .content .header-content .header-features .add-employee .title-add-employee:hover button {
                            background-color: #2FBE8E;
                        }

                    .right-content .content .header-content .header-features .add-employee .title-add-employee .icon-title-add-employee {
                        font-size: 16px;
                        margin-left: 16px;
                        margin-right: 8px;
                        color: white;
                    }

                    .right-content .content .header-content .header-features .add-employee .title-add-employee .text-title-add-employee {
                        color: #ffffff;
                        display: flex;
                    }

                .right-content .content .header-content .header-features .add-employee .icon-add-employee {
                    margin-left: 12px;
                    margin-right: 12px;
                    font-size: 16px;
                }

    .right-content .content .filter-form {
        display: flex;
        justify-content: space-between;
    }

        .right-content .content .filter-form .left-filter-form {
            display: flex;
        }

            .right-content .content .filter-form .left-filter-form .search-name {
                height: 32px;
                display: flex;
            }

                .right-content .content .filter-form .left-filter-form .search-name .icon-search {
                    font-size: 16px;
                    position: relative;
                    left: 38px;
                    top: 12px;
                }

                .right-content .content .filter-form .left-filter-form .search-name .form-search {
                }

                    .right-content .content .filter-form .left-filter-form .search-name .form-search input {
                        height: 38px;
                        width: 400px;
                        text-indent: 50px;
                        background-color: #ffffff;
                        border: 1px solid #e5e5e5;
                        border-radius: 5px;
                    }

                        .right-content .content .filter-form .left-filter-form .search-name .form-search input:focus {
                            outline: none;
                            border: 1px solid #01b075;
                            border-radius: 5px;
                        }

            .right-content .content .filter-form .left-filter-form .select-office {
                height: 40px;
                width: 260px;
                text-align: center;
                line-height: 40px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                margin-left: 15px;
                justify-content: space-between;
                display: flex;
            }

                .right-content .content .filter-form .left-filter-form .select-office .text-select {
                    padding-left: 12px;
                }

                .right-content .content .filter-form .left-filter-form .select-office .icon-select-office button {
                    border: none;
                    background-color: #ffffff;
                    font-size: 16px;
                    margin-right: 12px;
                }

            .right-content .content .filter-form .left-filter-form .select-state {
                height: 40px;
                width: 278px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                line-height: 40px;
                margin-left: 12px;
                display: flex;
            }

                .right-content .content .filter-form .left-filter-form .select-state .text-select {
                    border-right: 1px solid #e5e5e5;
                    padding: 0 12px 0 12px;
                }

                .right-content .content .filter-form .left-filter-form .select-state .icon-select-state button {
                    margin-left: 12px;
                    border: none;
                    background-color: #ffffff;
                    font-size: 16px;
                    margin-right: 12px;
                }

        .right-content .content .filter-form .icon-right-filter-form {
            display: flex;
            margin-right: 38px;
        }

            .right-content .content .filter-form .icon-right-filter-form .icon-insert, .icon-refresh {
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                align-self: center;
                position: relative;
                left: 7px;
            }

            .right-content .content .filter-form .icon-right-filter-form .border-icon-insert, .border-icon-refresh {
                border: 1px solid #e5e5e5;
                width: 33px;
                display: flex;
                border-radius: 5px;
            }

            .right-content .content .filter-form .icon-right-filter-form .border-icon-insert {
                margin-right: 10px;
            }

                .right-content .content .filter-form .icon-right-filter-form .border-icon-insert .icon-insert {
                    background-image: url('/content/img/icons8-insert-30.png');
                }

            .right-content .content .filter-form .icon-right-filter-form .border-icon-refresh {
                margin-right: -7px;
            }

                .right-content .content .filter-form .icon-right-filter-form .border-icon-refresh .icon-refresh {
                    background-image: url('/content/img/icons8-refresh-24.png');
                }

    .right-content .content .data-table {
        height: 400px;
        overflow: scroll;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 16px;
    }

        .right-content .content .data-table .table {
            border-collapse: collapse;
        }

            .right-content .content .data-table .table tr {
                height: 50px;
            }

                .right-content .content .data-table .table tr th {
                    border-bottom: 1px solid #e5e5e5;
                    text-align: left;
                }

                .right-content .content .data-table .table tr td {
                    text-align: left;
                    border: none;
                    border-bottom: 1px solid #e5e5e5;
                }

                .right-content .content .data-table .table tr:hover td {
                    background-color: #ddd;
                    cursor: pointer;
                }

                .right-content .content .data-table .table tr .checkbox-row {
                    opacity: 0;
                    border: none;
                }

                .right-content .content .data-table .table tr .index {
                    width: 30px;
                    text-align: center;
                }

                .right-content .content .data-table .table tr .employee-id {
                    width: 90px;
                }

                .right-content .content .data-table .table tr .employee-name {
                    width: 130px;
                }

                .right-content .content .data-table .table tr .employee-id-bhxh {
                    width: 100px;
                }

                .right-content .content .data-table .table tr .employee-gender {
                    width: 60px;
                }

                .right-content .content .data-table .table tr .employee-pos {
                    width: 120px;
                }

                .right-content .content .data-table .table tr .employee-department {
                    width: 120px;
                }

                .right-content .content .data-table .table tr .employee-coefficient {
                    width: 140px;
                    text-align: right;
                    padding-right: 10px;
                }

                .right-content .content .data-table .table tr .employee-state {
                    width: 130px;
                }

                .right-content .content .data-table .table tr .employee-hospital {
                    width: 120px;
                }

    .right-content .content .footer {
        display: flex;
        justify-content: space-between;
        height: 50px;
        margin-top: 20px;
    }

        .right-content .content .footer .left-footer {
            line-height: 56px;
            margin-left: 24px;
        }

        .right-content .content .footer .panagition {
            align-self: center;
            height: 56px;
        }

            .right-content .content .footer .panagition ul {
                display: flex;
            }

                .right-content .content .footer .panagition ul li {
                    list-style: none;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #e5e5e5;
                    text-align: center;
                    border-radius: 15px;
                    line-height: 30px;
                    margin: 0px 21px 0 0;
                }

                    .right-content .content .footer .panagition ul li a {
                        text-decoration: none;
                        color: #000000;
                    }

        .right-content .content .footer .choose-quantity-employee {
            line-height: 56px;
            margin-right: 16px;
            display: flex;
            width: 100px;
            height: 30px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            position: relative;
            align-self: center;
        }

            .right-content .content .footer .choose-quantity-employee .quantity-employee-text {
                align-self: center;
                margin-left: 12px;
            }

            .right-content .content .footer .choose-quantity-employee .quantity-employee-icon {
                align-self: center;
                margin-right: 12px;
                margin-left: 8px;
            }

                .right-content .content .footer .choose-quantity-employee .quantity-employee-icon button {
                    border: none;
                    background-color: #ffffff;
                    margin-left: 12px;
                }

            .right-content .content .footer .choose-quantity-employee .select-quantity-employee {
                position: absolute;
                height: 93px;
                top: 20px;
                border: 1px solid #e5e5e5;
                border-bottom: none;
                border-radius: 4px;
                width: 100px;
                padding: 0;
                display: none;
            }

                .right-content .content .footer .choose-quantity-employee .select-quantity-employee .quantity-employee-item {
                    list-style: none;
                    width: 100px;
                    text-align: center;
                    height: 30px;
                    border-bottom: 1px solid #e5e5e5;
                    line-height: 30px;
                }

                    .right-content .content .footer .choose-quantity-employee .select-quantity-employee .quantity-employee-item a {
                        text-decoration: none;
                        color: #000000;
                    }

button:focus {
    outline: none;
}

.pagination-item-active {
    background-color: #019160;
}

.employee-state span {
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
