.right-content .content {
    width: 100%;
    height: calc(100% - 61px);
}

    .right-content .content .header-content {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

        .right-content .content .header-content .header-content {
            height: 40px;
        }

        .right-content .content .header-content .name-page {
            font-size: 30px;
            padding: 16px;
        }

        .right-content .content .header-content .header-features {
            display: flex;
            margin-right: 20px;
        }

            .right-content .content .header-content .header-features .synchronized, .add-employee {
                align-self: center;
                height: 40px;
                margin-right: 20px;
                width: 170px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                display: flex;
                text-align: center;
                line-height: 40px;
            }

                .right-content .content .header-content .header-features .synchronized:hover {
                    background-color: #019160;
                }


                .right-content .content .header-content .header-features .synchronized .synchronized-icon {
                    background-image: url('/content/img/sync.png');
                    width: 16px;
                    height: 16px;
                    align-self: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-left: 16px;
                    margin-right: 8px;
                }

                .right-content .content .header-content .header-features .synchronized .synchronized-name {
                    color: #01b075;
                }

                .right-content .content .header-content .header-features .synchronized:hover .synchronized-name {
                    color: #ffffff;
                }

            .right-content .content .header-content .header-features .add-employee {
                background-color: #019160;
                margin-right: 10px;
            }

                .right-content .content .header-content .header-features .add-employee .title-add-employee {
                    display: flex;
                    padding-right: 10px;
                    border-right: 1px solid #674e4e;
                }

                    .right-content .content .header-content .header-features .add-employee .title-add-employee .icon-title-add-employee {
                        width: 19px;
                        height: 23px;
                        background-image: url('/content/img/add-user.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        align-self: center;
                        margin-left: 11px;
                        margin-right: 8px;
                    }

                    .right-content .content .header-content .header-features .add-employee .title-add-employee .text-title-add-employee {
                        color: #ffffff;
                    }

                .right-content .content .header-content .header-features .add-employee .icon-add-employee {
                    width: 16px;
                    height: 16px;
                    background-image: url('/content/img/caret.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    align-self: center;
                    margin-left: 8px;
                }

    .right-content .content .header-form {
        display: flex;
        justify-content: space-between;
    }

        .right-content .content .header-form .left-header-form {
            display: flex;
        }

            .right-content .content .header-form .left-header-form .search-name {
                height: 32px;
                display: flex;
            }

            .right-content .content .header-form .left-header-form .icon-search, .icon-select-office, .icon-select-state {
                width: 16px;
                height: 16px;
                background-size: contain;
                align-self: center;
                background-repeat: no-repeat;
            }

            .right-content .content .header-form .left-header-form .search-name .icon-search {
                background-image: url('/content/img/icons8-search-50.png');
                position: relative;
                left: 25px;
            }

            .right-content .content .header-form .left-header-form .search-name .form-search {
            }

                .right-content .content .header-form .left-header-form .search-name .form-search input {
                    height: 30px;
                    width: 280px;
                    text-indent: 30px;
                    background-color: #ffffff;
                    border: 1px solid #e5e5e5;
                    border-radius: 5px;
                }

                    .right-content .content .header-form .left-header-form .search-name .form-search input:focus {
                        outline: none;
                        border: 1px solid #01b075;
                        border-radius: 5px;
                    }

            .right-content .content .header-form .left-header-form .select-office {
                height: 32px;
                width: 220px;
                text-align: center;
                line-height: 32px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                margin-left: 15px;
                display: flex;
            }

                .right-content .content .header-form .left-header-form .select-office .text-select {
                    padding-left: 10px;
                }

                .right-content .content .header-form .left-header-form .select-office .icon-select-office {
                    background-image: url('/content/img/icons8-sort-down-26.png');
                    width: 12px;
                    height: 12px;
                    margin-left: 40px;
                }

            .right-content .content .header-form .left-header-form .select-state {
                height: 32px;
                width: 260px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                line-height: 32px;
                margin-left: 15px;
                display: flex;
            }

                .right-content .content .header-form .left-header-form .select-state .text-select {
                    border-right: 1px solid #e5e5e5;
                    padding: 0 10px 0 10px;
                }

                .right-content .content .header-form .left-header-form .select-state .icon-select-state {
                    background-image: url('/content/img/caret.png');
                    margin-left: 8px;
                }

        .right-content .content .header-form .icon-right-header-form {
            display: flex;
            margin-right: 38px;
        }

            .right-content .content .header-form .icon-right-header-form .icon-insert, .icon-refresh {
                width: 20px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                align-self: center;
                position: relative;
                left: 7px;
            }

            .right-content .content .header-form .icon-right-header-form .border-icon-insert, .border-icon-refresh {
                border: 1px solid #e5e5e5;
                width: 33px;
                display: flex;
                border-radius: 5px;
            }

            .right-content .content .header-form .icon-right-header-form .border-icon-insert {
                margin-right: 10px;
            }

                .right-content .content .header-form .icon-right-header-form .border-icon-insert .icon-insert {
                    background-image: url('/content/img/icons8-insert-30.png');
                }

            .right-content .content .header-form .icon-right-header-form .border-icon-refresh {
                margin-right: -7px;
            }

                .right-content .content .header-form .icon-right-header-form .border-icon-refresh .icon-refresh {
                    background-image: url('/content/img/icons8-refresh-24.png');
                }

    .right-content .content .data-table {
    }

        .right-content .content .data-table .table {
            margin-top: 20px;
            border-collapse: collapse;
        }

            .right-content .content .data-table .table tr {
                height: 50px;
            }

                .right-content .content .data-table .table tr th {
                    border-bottom: 1px solid #e5e5e5;
                    text-align: left;
                }

                .right-content .content .data-table .table tr td {
                    text-align: left;
                    border: none;
                    border-bottom: 1px solid #e5e5e5;
                }

                .right-content .content .data-table .table tr:hover td {
                    background-color: #ddd;
                    cursor: pointer;
                }

                .right-content .content .data-table .table tr .checkbox-row {
                    opacity: 0;
                    border: none;
                }

                .right-content .content .data-table .table tr .index {
                    width: 30px;
                    text-align: center;
                }

                .right-content .content .data-table .table tr .employee-id {
                    width: 90px;
                }

                .right-content .content .data-table .table tr .employee-name {
                    width: 130px;
                }

                .right-content .content .data-table .table tr .employee-id-bhxh {
                    width: 80px;
                }

                .right-content .content .data-table .table tr .employee-gender {
                    width: 60px;
                }

                .right-content .content .data-table .table tr .employee-pos {
                    width: 100px;
                }

                .right-content .content .data-table .table tr .employee-department {
                    width: 120px;
                }

                .right-content .content .data-table .table tr .employee-coefficient {
                    width: 140px;
                    text-align: right;
                    padding-right: 10px;
                }

                .right-content .content .data-table .table tr .employee-state {
                    width: 130px;
                }

                .right-content .content .data-table .table tr .employee-hospital {
                    width: 120px;
                }
