body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    display: flex;
}
* {
    margin: 0;
    padding: 0;
}
.right-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 221px);
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('/content/font/GoogleSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('/content/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('/content/font/GoogleSans-Thin.otf') format('opentype');
}

.d-same-row {
    display: flex;
}
.text-align-center{
    text-align: center!important;
}
.text-align-right {
    text-align: right !important;
}
