<!-- navbar -->
<div class="navbar">
    <div class="nav-header">
        <div class="logo-box">
            <div class="m-icon toggle-icon"></div>
            <div class="logo-image"></div>
        </div>
    </div>
    <div class="nav-content">
        <div class="nav-item" tabindex="1">
            <div class="nav-item-box">
                <div class="m-icon nav-item-icon create-order-icon"></div>
                <div class="nav-item-text">Tạo đơn mới</div>
            </div>
        </div>
        <div class="nav-item" tabindex="2">
            <div class="nav-item-box">
                <div class="m-icon nav-item-icon orders-list-icon"></div>
                <div class="nav-item-text">Quản lý đơn hàng</div>
            </div>
        </div>
        <div class="nav-item" tabindex="3">
            <div class="nav-item-box">
                <div class="m-icon nav-item-icon shipping-icon"></div>
                <div class="nav-item-text">Vận chuyển</div>
            </div>
        </div>
        <div class="nav-item" tabindex="4">
            <div class="nav-item-box">
                <div class="m-icon nav-item-icon setting-icon"></div>
                <div class="nav-item-text">Thiết lập</div>
            </div>
        </div>
    </div>
</div>