/* gird-customer trong customer.html*/
.grid-customer {
    height: calc(100vh - 246px);
}
/*avatar form thêm thông tin khách hàng*/
.avatar-customer {
    margin-right: 12px;
}
/*.el-left {
    width: calc(100% - 180px);
}*/
.avatar-customer .avatar {
    border: 1px solid #ccc;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('/content/img/default-avatar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

