.content {
    padding-left: 221px;
    /*width: calc(100% - 221px);*/
    height: calc(100vh - 51px);
    background-color: #e9ebee;
}
    .content .content-box {
        padding:12px 12px 20px 12px;
        width: calc(100% - 24px);
        height: calc(100% - 32px);
        align-items: center;
    }
        .content .content-box .head-content {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
        }
            .content .content-box .head-content .head-content-left {
                width: 200px;
                font-size: 21px;
            }
            .content .content-box .head-content .head-content-right {
                width: 600px;
                display: flex;
                justify-content: flex-end;
            }
                .content .content-box .head-content .head-content-right .btn-sync {
                    width: 161px;
                    height: 38px;
                    display: flex;
                    border-radius: 4px;
                    align-items: center;
                    cursor: pointer;
                    border: 1px solid;
                    margin-left: 26px;
                }
                    .content .content-box .head-content .head-content-right .btn-sync .btn-sync-icon {
                        width: 20px;
                        height: 20px;
                        align-self: center;
                        margin-right: 12px;
                        margin-left: 16px;
                        background-image: url('../../content/icon/sync-icon.png');
                        background-size: contain;
                    }
                    .content .content-box .head-content .head-content-right .btn-sync .btn-sync-text {
                        color: #2fbe8e;
                        margin-right: 16px;
                    }
                .content .content-box .head-content .head-content-right .btn-add {
                    width: 182px;
                    height: 40px;
                    display: flex;
                    margin-left: 16px;
                    background-color: #01b075;
                    border-radius: 4px;
                    align-items: center;
                    cursor: pointer;
                    justify-content: space-around;
                }
                    .content .content-box .head-content .head-content-right .btn-add .btn-add-left {
                        width: calc(100% - 40px);
                        height: 100%;
                        display: flex;
                        border-radius: 4px;
                        color: #ffffff;
                    }
                        .content .content-box .head-content .head-content-right .btn-add .btn-add-left:hover {
                            background-color: #2fbe8e;
                        }
                        .content .content-box .head-content .head-content-right .btn-add .btn-add-left .btn-add-icon {
                            width: 20px;
                            height: 20px;
                            align-self: center;
                            margin-left: 16px;
                            margin-right: 8px;
                            background-size: contain;
                            background-image: url('/content/icon/add-icon.jpg');
                        }
                        .content .content-box .head-content .head-content-right .btn-add .btn-add-left .btn-add-text {
                            align-self: center;
                            margin-right: 8px;
                        }
                    .content .content-box .head-content .head-content-right .btn-add .btn-add-select {
                        height: 100%;
                        width: 40px;
                        display: flex;
                        border-left: 1px solid;
                    }
                        .content .content-box .head-content .head-content-right .btn-add .btn-add-select:hover {
                            background-color: #2fbe8e;
                            border-radius: 4px;
                        }
                        .content .content-box .head-content .head-content-right .btn-add .btn-add-select .btn-add-select-icon {
                            width: 14px;
                            height: 14px;
                            align-self: center;
                            margin-left: 12px;
                            margin-right: 12px;
                            color: #ffffff;
                            background-image: url('/content/icon/expand-icon.png');
                            background-size: contain;
                        }
        .content .content-box .content-toolbox {

        }