/* style cho box dùng chung*/

.m-box {
    height: 40px;
    width: 100%;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    position: relative;
}

    .m-box.green-border {
        border: 1px solid #019160;
    }

    .m-box:focus {
        border: 1px solid #019160;
    }

.m-box .selected-box {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin-top: 0;
    border: none;
}
    /* khung nhập bên trong combo box*/
    .m-box .selected-box input {
        width: calc(100% - 40px);
        margin-top: 0;
        border: none;
        outline: none;
        padding: 0;
    }

/* icon trong combo box*/
.arrow-button {
    width: 40px;
    height: calc(100% - 0px);
    padding: 12px;
    align-items: center;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #bbbbbb;
}

.arrow-button-clicked {
    background-color: #E9EBEE;
}
/*items box*/
.wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px 0;
    margin-top: 4px;
    border-radius: 4px;
    height: 129px;
    background-color: #ffffff;
    z-index: 2;
    position: relative;
    box-shadow: 0px 2px 5px #e5e5e5;
}
    .wrapper::-webkit-scrollbar {
        width: 5px;
    }

    .wrapper::-webkit-scrollbar-track {
        background: #E9EBEE;
    }

    .wrapper::-webkit-scrollbar-thumb {
        background: #bbbbbb;
        border-radius: 10px;
    }

    .wrapper::-webkit-scrollbar-corner {
        background: #E9EBEE;
    }

.combo-item-box {
    width: 100%;
    z-index: 2;
}

.combo-item {
    height: 40px;
    color: #000000;
    background-color: #ffffff;
    display: flex;
}

    .combo-item:hover {
        background-color: #E9EBEE;
    }

.item-hover {
    background-color: #E9EBEE;
}

.combo-item-box .selected {
    background-color: #019160;
    color: #ffffff;
    font-family: GoogleSans-Regular;
}

.combo-item .option-icon {
    width: 36px;
    min-width: 36px;
    height: 36px;
    padding: 10px;
}

.combo-item .check-icon {
    background-image: url('/content/icon/common/whiteIcon/check.svg');
    opacity: 1;
}

.combo-item .option-text {
    width: 100%;
    line-height: 40px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-left: 0;
    text-align: left;
}
