/*style cho phần grid ( bảng dữ liệu ) dùng chung*/
.grid {
    width: 100%;
    height: calc(100% - 128px);
    overflow-x: scroll;
    overflow-y: scroll;
}

    .grid::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .grid::-webkit-scrollbar-track {
        background: #E9EBEE;
    }

    .grid::-webkit-scrollbar-thumb {
        background: #bbbbbb;
        border-radius: 10px;
    }

    .grid::-webkit-scrollbar-corner {
        background: #E9EBEE;
    }

    /* table */
    .grid table {
        width: 100%;
        border-collapse: separate;
        background-color: #ffffff;
        border-spacing: 0;
    }

    /* thead */
    .grid thead tr {
        height: 48px;
    }

    .grid thead th {
        width: 200px;
        position: sticky;
        top: 0;
        background-color: #ffffff;
    }

        .grid thead th:first-child {
            padding-left: 16px;
        }

        .grid thead th[fieldName="Checkbox"] {
            z-index: 1;
        }

    .grid thead .thead-box {
        width: auto;
        min-width: 71px;
        display: flex;
        align-self: center;
        padding-left: 10px;
    }
        .grid thead .thead-box.center {
            justify-content: center;
        }
        .grid thead .thead-box .thead-text {
            font-family: GoogleSans-Bold;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            text-align: left;
            margin-right: 8px;
        }

    .grid thead .field-short {
        width: 60px;
    }

    .grid thead .field-medium {
        width: 200px;
    }

    .grid thead .field-long {
        width: 350px;
        min-width: 200px;
    }

    /* tbody */
    .grid table tbody tr {
        height: 48px;
        padding: 0;
    }

        .grid table tbody tr:hover {
            background-color: #e9ebee !important;
        }

        .grid table tbody tr td {
            height: 100%;
            width: 100px;
        }
/* row khi được chọn */
.selected {
    background-color: #e3f3ee;
}

.grid table tbody td {
    padding: 0;
    border-top: 1px solid #e5e5e5;
}

    .grid table tbody td div {
        height: 38px;
        width: 100%;
        background-color: none;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

.grid table tr td:first-child {
    padding-left: 16px;
    border: none;
}

    .grid table tr td:first-child div {
        border-top: 1px solid #e5e5e5;
    }

.grid table tr td:last-child {
    padding-right: 16px;
    border: none;
}

    .grid table tr td:last-child div {
        border-top: 1px solid #e5e5e5;
    }
