/*-----------------*/
/* style input dùng chung */

.m-input {
    height: 40px;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    outline: none;
    padding-left: 16px;
    display: flex;
}

    .m-input:focus {
        border: 1px solid #019160;
    }

/* cảnh báo khi input có giá trị invalid */
.m-input-warning {
    border: 1px solid #FF4747 !important;
}

/* Dòng chứa nhiều input box*/
.input-line {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.flex-line{
    display:flex;
}
/* Dòng chứa thành phần căn phải */
.right-line{
    justify-content: flex-end;
}
/* Dòng chứa thành phần căn giữa */
.center-line {
    justify-content: center;
}
/* Dòng chứa thành phần căn đều sang 2 bên */
.space-between-line {
    justify-content: space-between;
}

.input-box{
    display:flex;
    flex-direction:column;
}
/* box input mà các thành phần sắp xếp từ cuối lên*/
.input-box-end{
    justify-content: flex-end;
}
/* * đỏ thể hiện trường bắt buộc nhập */
.input-box .input-title {
    font-family: GoogleSans-Bold;
    margin-bottom: 4px;
}
.input-box .input-title span {
    color: #FF4747;
}

/*trường input có kiểu là money*/
input[typeFormat="money"], input[type="number"] {
    text-align: right;
    padding-right: 16px;
}


/*-----------------*/
/*input type "radio"*/
/**/
.m-radio {
    display: flex;
    padding-left: 24px;
    margin-right: 16px;
    position: relative;
}
    /*ẩn radio button mặc định đi */
    .m-radio .radio {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 100%;
    }
    /* Tạo radio button mới*/
    .m-radio .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border: 1px solid #bbbbbb;
        border-radius: 50%;
    }

    .m-radio:hover .radio ~ .checkmark {
        background-color: #e5e5e5;
    }

    /* khi radio ở trạng thái checked */
    .m-radio input[type=radio]:checked ~ .checkmark {
        border: 1px solid #019160;
    }

        .m-radio input[type=radio]:checked ~ .checkmark:after {
            display: block;
        }
    /* hình tròn tại tâm radio button mới */
    .m-radio .checkmark:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 17%;
        left: 17%;
        background: #019160;
        border-radius: 50%;
        display: none;
    }

/* custome input type checkbox */
.m-checkbox{
    position:relative;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    z-index: 0;
}

    /*ẩn checkbox button mặc định đi */
    .m-checkbox .checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 100%;
    }
    /* Tạo checkbox button mới*/
    .m-checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
    }

    .m-checkbox:hover .checkbox ~ .checkmark {
        background-color: #e5e5e5;
    }

    /* khi checkbox ở trạng thái checked */
    .m-checkbox input[type=checkbox]:checked ~ .checkmark {
        border: none;
        background-color: #019160;
        background-image: url('/content/icon/common/whiteIcon/check.svg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: 16px;
    }

/* Style text area*/
.note-area {
    min-height: 40px;
    padding-top: 12px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: vertical;
    max-height: 200px;
}

/* Input Search field*/
.search-field {
    width: 210px; 
    outline: none;
    border: none;
    border-radius: 4px;
}
.search-icon {
    margin-right: 8px;
    align-self: center;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    margin-left: 8px;
    margin-right:10px;
    border-radius: 50em;
    background-image: url('/content/icon/common/BlackIcon/x.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #e5e5e5;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 0.7;
    pointer-events: all;
}