/*----------------------------*/
/* style các class dùng chung */
@import url('icon.css');
@import url('input.css');
@import url('button.css');
@import url('dropdown.css');
@import url('combobox.css');
@import url('grid.css');
@import url('dialog.css');
@import url('popup.css');
@import url('toastMessenger.css');
@import url('loading.css');



* {
    box-sizing: border-box;
}

body {
    font-family: GoogleSans-Regular;
    font-size: 13px;
    color: #454545;
    margin: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

    body::-webkit-scrollbar {
        height: 5px;
    }

    body::-webkit-scrollbar-track {
        background: #E9EBEE;
    }

    body::-webkit-scrollbar-thumb {
        background: #bbbbbb;
        border-radius: 10px;
    }

    body::-webkit-scrollbar-corner {
        background: #E9EBEE;
    }

/*----------------------------*/
/* style cho các tag a (link)*/
a {
    color: inherit;
    text-decoration: none;
}
    a:active {
        background-color: #019160;
    }
.select-menu-item {
    background-color: #019160;
    color: #ffffff;
    font-family: GoogleSans-Medium;
    outline: none;
}
/*----------------------------*/
/* style căn chỉnh text*/
.text-align-left {  
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}
/** Thành phần có vị trí sát bottom */
.flex-end {
    align-self: flex-end;
}

/**/
.displayNone{
    display:none;
}
/*----------------------------*/
/* font */
@font-face {
    font-family: 'GoogleSans-Black';
    src: url('/content/font/GoogleSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-BlackItalic';
    src: url('/content/font/GoogleSans-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('/content/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-BoldItalic';
    src: url('/content/font/GoogleSans-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('/content/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url('/content/font/GoogleSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-LightItalic';
    src: url('/content/font/GoogleSans-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('/content/font/GoogleSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-MediumItalic';
    src: url('/content/font/GoogleSans-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('/content/font/GoogleSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-ThinItalic';
    src: url('/content/font/GoogleSans-ThinItalic.otf') format('opentype');
}
