/* style cho dialog dùng chung */

.m-dialog {
    position: relative;
    z-index: 1;
}
/*-------------------------*/
/*Màn mờ phía sau dialog*/
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
}

/*-------------------------*/
/*dialog*/
.dialog-detail {
    width: 60%;
    height: 85%;
    border-radius: 5px;
    position: fixed;
    z-index: 3;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
}


    /*header của dialog*/
    .dialog-detail .dialog-header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
    }

        .dialog-detail .dialog-header .header-text {
            font-family: GoogleSans-Bold;
            font-size: 20px;
        }


    /*Body: thông tin chi tiết*/
    .dialog-detail .dialog-body {
        width: calc(100% - 48px);
        margin: 0 24px;
        height: calc(100% - 120px);
        display: flex;
        justify-content: space-between;
        overflow-y: scroll;
    }

        .dialog-detail .dialog-body::-webkit-scrollbar {
            height: 0px;
            width: 0;
        }

        .dialog-detail .dialog-body::-webkit-scrollbar-track {
            background: #E9EBEE;
        }

        .dialog-detail .dialog-body::-webkit-scrollbar-thumb {
            background: #bbbbbb;
            border-radius: 10px;
        }

        .dialog-detail .dialog-body::-webkit-scrollbar-corner {
            background: #E9EBEE;
        }

        .dialog-detail .dialog-body .dialog-col {
            margin-right: 24px;
            width: 50%;
        }

            .dialog-detail .dialog-body .dialog-col:last-child {
                margin-right: 0;
            }

        .dialog-detail .dialog-body .dialog-col-left {
            width: 20%;
        }

        .dialog-detail .dialog-body .dialog-col-mid {
            width: calc(40% - 24px);
        }

        .dialog-detail .dialog-body .dialog-col-right {
            width: 40%;
        }

        .dialog-detail .dialog-body .content-box {
            margin-top: 16px;
        }

    .dialog-detail .dialog-col .content-box .box-title {
        margin-bottom: 24px;
    }

        .dialog-detail .dialog-col .content-box .box-title span {
            font-family: GoogleSans-Bold;
            font-size: 15px;
            text-align: left;
        }

    .dialog-detail .content-box .box-title .border-bottom {
        width: 85px;
        height: 2px;
        background-color: #019160;
    }

    .dialog-detail .dialog-col .content-box:last-child {
        /* margin-bottom:24px; */
    }

    .dialog-detail .content-box .box-body .box-info {
    }

.product-list {
    margin-top: 4px;
}

    .product-list .product-detail {
        align-items: center;
        margin-bottom: 10px;
    }

        .product-list .product-detail .price::-webkit-inner-spin-button,
        .product-list .product-detail .price::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        .product-list .product-detail .quantity {
            width: 100%;
            border: none;
            outline: none;
            padding-left: 8px;
        }

            .product-list .product-detail .quantity::-webkit-inner-spin-button,
            .product-list .product-detail .quantity::-webkit-outer-spin-button {
                opacity: 1;
                background-color: none;
            }

        .product-list .product-detail .product-line {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

            .product-list .product-detail .product-line .button-delete {
                border: none;
                outline: none;
                background-color: #e5e5e5;
                margin-right: 16px;
                align-self: center;
            }

        .product-list .product-detail .product-line-left {
            display: flex;
            align-items: center;
            width: 50%;
            margin-right: 10px;
        }

            .product-list .product-detail .product-line-left div {
                margin-right: 10px;
            }

        .product-list .product-detail .product-line-right {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .product-list .product-detail .product-line-right div {
                margin-right: 10px;
            }

                .product-list .product-detail .product-line-right div:last-child {
                    margin-right: 0;
                }

.product-detail .quantity-box {
    width: 70%;
}

.product-detail .cost-line {
    display: flex;
    justify-content: flex-end;
}

    .product-detail .cost-line div {
        margin-left: 16px;
    }

    .product-detail .cost-line .default-price {
        color: #F65454;
        margin-top: 4px;
        text-decoration: line-through;
    }

    .product-detail .cost-line .cost {
        font-weight: bold;
        color: #019160;
        margin-top: 4px;
    }

.total-line {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

    .total-line .total-quantity span {
        margin-left: 10px;
        font-weight: bold;
    }


.product-box {
    cursor: default;
}

    .product-box .product-name {
        opacity: 0.8;
        font-size: 11px;
        max-width: 95px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

/*footer*/
.dialog-detail .dialog-footer {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #E9EBEE;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 4px 4px;
}

    .dialog-detail .dialog-footer button {
        margin-right: 16px;
    }

    .dialog-detail .dialog-footer .btn-cancel {
        color: #ffffff;
        background-color: #E9EBEE;
        color: #000000;
    }

        .dialog-detail .dialog-footer .btn-cancel:hover {
            background-color: #bbbbbb;
        }
/* các loại khung input*/
.input-box-small {
    width: 50%;
    margin-right: 10px;
}

    .input-box-small:last-child {
        margin-right: 0px;
    }

.input-box-medium {
    width: 100%;
    margin-right: 10px;
}

    .input-box-medium:last-child {
        margin-right: 0px;
    }

.input-box-big {
    width: 100%;
}


/*-------------*/
/* radio button group*/
.radio-button-group {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 4px;
    align-items: center;
}

;
}
;
}
