* {
    box-sizing: border-box;
}
/*style cho tag a chứa các icon*/
.side-bar .page-link {
    width: 100%;
    height: 40px;
    padding: 12px;
}

    .side-bar .page-link:hover, .side-bar .page-link:active {
        background-color: #28313f;
    }
/* custome tooltip cho các page link*/
.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        opacity: 0.5;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 8px;
        left: 105%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

/*top bar*/
.top-bar {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*avatar*/
.a-avatar {
    padding: 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    background-image: url('/content/icon/female-profile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*icons*/
.shopping-cart-icon {
    background-image: url('/content/icon/common/whiteIcon/shopping-cart.svg');
}

.orders-icon {
    background-image: url('/content/icon/common/whiteIcon/file.svg');
}

.truck-icon {
    background-image: url('/content/icon/common/whiteIcon/truck.svg');
}
/*bottom bar*/
.bottom-bar {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.setting-icon {
    background-image: url('/content/icon/common/whiteIcon/settings.svg');
}
