.grid .grid-table .money {
    text-align: right;
}

.required-error {
    border: 1px solid #ff0000;
}
/*css dialog*/
.dialog-model {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #808080;
    opacity: 0.3;
}

.dialog {
    display: none;
    width: 610px;
    height: 490px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: calc(50% - 245px);
    left: calc(50% - 305px);
}

    .dialog .dialog-title {
        display: flex;
        height: 40px;
    }

        .dialog .dialog-title .title-text {
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            padding: 8px 10px;
        }

        .dialog .dialog-title .title-close-button {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            line-height: 25px;
            font-size: 20px;
            border-radius: 0 5px 0 0;
        }

.title-close-button:hover {
    color: #ff0000;
    cursor: pointer;
}
/*dialog body css*/
.dialog .dialog-body {
    background-color: #fff;
    height: calc(100% - 65px);
}

.information-title {
    width: 100%;
    height: 25px;
    font-size: 18px;
}

.general-information-content {
    display: block;
}
/*Thong tin khach hang pha tren tu ma khach hang den gioi tinh*/
.information-content-top {
    display: flex;
}

.img-avatar {
    height: 152px;
    width: 185px;
    background-position: center;
    background-size: 152px 152px;
    background-repeat: no-repeat;
    background-image: url('/content/image/content/icon-avatar-default.png');
}

.text-avatar {
    text-align: center;
}

.colum-right {
    height: 170px;
    width: 184px;
    padding: 0px 8px;
}

.colum-left {
    width: calc(100% - 222px);
}

.colum-left-input {
    display: flex;
}

.chkGender {
    display: flex;
}
#dtDateOfBirth {
    width: 170px;
}
.dialog .dialog-body .information-content input {
    padding-left: 16px;
    height: 33px;
    padding-bottom: 4px;
    margin-right: 16px;
    margin-bottom: 10px;
}
    .dialog .dialog-body .information-content input:focus {
        border: 1px solid #019160;
    }

    .ddlGroupCustomer {
        height: 40px;
        width: 189px;
        border: 1px solid #bbbbbb;
    }

.dialog .dialog-body label {
    margin: 8px 16px;
}

#ckbGender {
    width: 20px;
}
/*thong tin khach hang phan giua email, sdt, cong ty, ma so thue*/
.email-phone {
    display: flex;
}

.content-mid-email {
    width: 359px;
    margin-left: 10px;
}
.content-mid-phone {
    position: absolute;
    right: 0px;
}

#txtEmail {
    width: 100%;
}

#CompanyName {
    width: 100%;
}
/*dialog body bottom thong tin dialog chi*/
.information-content-bottom {
    width: 564px;
}

#txtAddress {
    margin-left: 10px;
    width: 100%;
}
/*Xu ly div dialog-footer*/
.dialog .dialog-footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #bbbbbb;
}

    .dialog .dialog-footer button {
        width: 85px;
        height: 35px;
        border: none;
        padding: 4px 4px;
        border-radius: 4px;
        margin-right: 10px;
    }
        .dialog .dialog-footer button:hover {
            background-color: #2FBE8E;
            cursor:pointer;
        }

button#btnSave {
    background-color: #019160;
    display:flex;
    padding-left:18px;
}
    button#btnSave:hover {
        background-color: #2FBE8E;
    }

    button#btnCanel {
    }
/*css bottom default*/
.m-btn {
    display: flex;
    align-items: center;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffff;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 16px;
    margin-right: 16px;
}

    .m-btn:hover {
        background-color: #2FBE8E;
        cursor: pointer;
    }
