.content {
    position: absolute;
    top: 60px;
    left: 221px;
    width: calc(100% - 222px);
    height: calc(100vh - 60px);
    border-left: 1px solid #e5e5e5;
}
/*taskbar quản lý lao động btn add*/
    .content .taskbar {
        display: flex;
        height: 60px;
        width: 100%;
        
    }
.taskbar .taskbar-content{
    line-height:60px;
    font-size: 18px;
    margin-left:16px;
    width: 220px;
}
.content-feature{
    position:absolute;
    right: 16px;
    display:flex;
}
.add-employee {
    display: flex;
    height: 30px;
    width: 154px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #454545;
    align-self: center;
    background-color: #01B075;
    margin-right: 16px;
}
.taskbar-content-buton{
    display:flex;
    margin-left:auto;
}
/*btn add employee thuoc taskbar*/

.icon-add {
    width: 16px;
    height: 16px;
    background-image: url('../../content/image/content/icon-add-new-employee.png');
    background-size: 16px 16px;
    margin-right: 8px;
}

/*filter gồm tim kiem lọc theo bộ phận trạng thái btndownload btnreload */
.filter{
    height:40px;
    width:100%;
    display:flex;
}
    .filter .search{
        height:40px;
        width:320px;
        margin-left:16px;

    }
#searchstring {
    width: 100%;
    height:40px;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
}
#search-icon::after {
    content: "\f002";
    font-family:GoogleSans-Regular;
    position: absolute;
    font-size: 24px;
    color: #cccccc;
    top: 65px;
    left: 32px;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}
.select-department {
    height: 40px;
    width: 250px;
    margin-left: 16px;
}
#ip-department {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px 16px 10px 16px;
}
.status-box {
    height: 40px;
    width: 215px;
    margin-left: 16px;
}
#ip-status {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px 16px 10px 16px
}
.filter-icon {
    display: flex;
    height: 40px;
    width: 112px;
    position:absolute;
    right:28px;
}
.filter-button {
    width: 56px;
    height: 40px;
    background-size: 30px 30px;
    align-self: center;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 16px;
}
.filter-icon-content {
    width: 40px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
}
    .icon-download {
        background-image: url('../../content/image/content/download-7.png');
    }
.filter-icon-reload {
    background-image: url('../../content/image/content/24-around-7.png');
}
.filter-button:hover{
    background-color:#e9ebee;
    cursor:pointer;
}
     /*Grid bang du lieu*/


/*paging bar*/
.content .paging-bar{
    position:absolute;
    bottom:0px;
    width:100%;
    display:flex;
    height:56px;
    justify-items:center;
    background-color:#fff;
}
.paging-bar .seeing{
    height:56px;
    width:350px;
    text-align:left;
    line-height:56px;
    padding-left:16px;
}
.page-number{
    width:400px;
    align-self:center;
    align-items:center;
    display:flex;
    position:absolute;
    left:calc(100% / 3);
}
    .page-number .m-angle {
        margin-right:16px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
    }
    .page-number .number-next {
        margin-right:16px;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        font-size: 18px;
        border:1px solid;
        border-radius:34px;
    }

    .number-employee {
        position: absolute;
        padding-right: 16px;
        right: 0px;
        height: 56px;
        width: 350px;
        text-align: right;
        line-height: 56px;
    }
    .m-angle:hover{
        background-color: #bbbbbb;
        cursor:pointer;
        border-radius:4px;
    }
.number-next:hover {
    background-color: #2FBE8E;
    cursor:pointer;
}
