/* Button*/

.btn-clear {
    color: #ffffff;
    background-color: #E9EBEE;
    color: #000000;
}

    .btn-clear:hover {
        background-color: #bbbbbb;
    }
/* style lại thành phần body*/
.content .dialog-detail {
    height: calc(100vh - 171px);
    border-radius: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    margin-top: 122px;
    margin-left: 16px;
    background-color: none;
}

    .content .dialog-detail .dialog-body {
        width: 100%;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: left;
        overflow: scroll;
    }
.dialog-detail .dialog-body .dialog-col {
    width: 50%;
}

