/*Page-title*/
.content{	
	position: absolute;
	top: 49px;
	left: 221px;
	height: calc(100vh - 49px);
	width: calc(100% - 221px);

}
.content .header-content{
	padding: 16px; 
	display: flex;
	align-items: center;

}
.content .header-content .title{
	font-size: 20px;
	font-weight: bold;
}
.content .header-content .content-feature{
	position: absolute;
	right: 16px;
}

.button-box{
	display: flex;
}
/*filter-bar*/
.content .filter-bar{

}




/* Grid */
.content .grid{

}






/*Paging*/
.paging-bar{
	line-height: 56px;
}