.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
/*    background-color: #E9EBEE;*/
    /*padding: 0px 24px 12px 24px;*/
}
