/* css cho snackbar */
.snackbar {
    visibility: hidden;
    align-items: center;
    min-width: 250px;
    max-width: 400px;
    margin-left: -125px; 
    background-color: #ffffff;
    background-size: 48px;
    color: #000000;
    font-size: 13px;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 30px;
}

    /*show snackbar*/ 
    .snackbar.show-snackbar {
        visibility: visible; 
        display: flex;

    }

    .snackbar .btn-cancel-snackbar {
        font-size: 24px;
        position: absolute;
        right: 12px;
    }

    .snackbar .icon-snackbar {
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin-right:10px;
    }
    .snackbar .icon-snackbar i {
        color: #ffffff;
        margin: 0;
    }

.snackbar-success {
    background-color: #BAFFE7;
}
    .snackbar-success .icon-snackbar {
        background-color: #01B075;
    }

    .snackbar-success .btn-cancel-snackbar {
        color: #01B075;
    }

.snackbar-err {
    background-color: #FFCECE;
}
    .snackbar-err .icon-snackbar {
        background-color: #F65454;
    }

    .snackbar-err .btn-cancel-snackbar {
        color: #F65454;
    }

.snackbar-mesenger{
    color: #000000;
}