.content {
    position: absolute;
    top: 49px;
    left: 221px;
    width: calc( 100% - 221px);
    height: calc( 100vh - 50px);
    border-top: 1px solid #E9EBEE;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

    /* start of content-header*/
    .content .content-header {
        width: calc( 100% - 32px);
        height: 50px;
        display: flex;
    }
        /* header-left (title)*/
        .content .content-header .content-header-title {
            width: 50%;
            align-self: center;
            font-family: GoogleSans-Bold;
            font-size: 24px;
            align-self: center;
        }
        /* content- header-right*/
        .content .content-header .content-header-right {
            width: 100%;
            display: flex;
        }

.content-header .content-header-right .header-right-box {
    width: auto;
    margin-left: auto;
    margin-right: 0px;;
    display: flex;
    align-self: flex-start;
}


/* btn sync from HRM*/

.header-right-box .sync-btn {
    background-color: #ffffff;
    height: 40px;
    border: 1px solid #019160;
}
.header-right-box .m-btn .btn-sync-icon {
    background-image: url('/content/icon/content/sync.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.m-btn .btn-sync-text {
    color: #019160;
}
    /* button Add Employee*/
.content-header-right .header-right-box .btn-add-box {
    display: flex;
    background-color: #01B075;
    border-radius: 4px;
    margin-left: 16px;
}

   .header-right-box .btn-add-box .btn-add-icon {
        background-image: url('/content/icon/content/add-user-female.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
.btn-add-box button {
    border-radius: 4px 0px 0px 4px;
}
.btn-add-box .m-btn-dropdown{
    border-radius: 0px 4px 4px 0px;
}
.header-right-box .btn-add-box .btn-drop-icon {
    background-image: url('/content/icon/content/single-down-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/*start of content body*/
.content .content-body {
    width: calc( 100% - 32px);
    height: calc(100% - 50px);
}
/* start of filter bar*/
    .content .content-body .content-filter {
        width: 100%;
        height: 59px;
        display: flex;
    }

.content-body .content-filter .content-filter-left {
    display: flex;
    width: auto;
    height: 40px;
    align-self: center;
    margin-left: 0px;
    margin-right: 16px;
}

.content-body .content-filter .content-filter-right {
    display: flex;
    width: 100%;
    height: 40px;
    align-self: center;
    margin-left: auto;
    margin-right: 0px;
}
/* left filter*/
.content-filter .content-filter-left .input-box {
    width: 250px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
    margin-right: 16px;
}

.content-filter-left .input-box .serch-icon {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/content/search-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 16px;
    margin-right: 8px;
    align-self: center;
}

.content-filter-left .input-box .search-field {
    width: calc( 100% - 40px);
    outline: none;
    border: none;
}

.content-filter-left .input-box .department-field, .content-filter-left .input-box .state-field {
    width: calc( 100% - 40px);
    margin-left: 16px;
    align-self: center;
    outline: none;
    border: none;
}

.content-filter-left .input-box .select-department-icon {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/content/sort-down.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 12px;
    margin-right: 12px;
    align-self: center;
}


.content-filter-left .input-box .state-field {
    height: calc( 100% - 2px);
    border-right: 1px solid #e5e5e5;
}

.content-filter-left .input-box .select-state-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../content/icon/header/single-down.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 12px;
    margin-right: 12px;
    align-self: center;
}
/*filter right*/
.content-filter .content-filter-right .filter-right-box {
    width: auto;
    margin-left:auto;
    margin-right:0px;
    display:flex;
}
   .content-filter-right .filter-right-box button {
        width: 40px;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background-color: #ffffff;
        padding: 12px;
        margin-right: 0px;
        margin-left: 16px;
    }

.content-filter-right .filter-right-box .btn-save {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/content/save-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    right: 56px;
    left: auto;
}

.content-filter-right .filter-right-box .btn-refresh {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/content/fresh.png');
    background-repeat: no-repeat;
    background-size: contain;
}
/* end of filter bar*/

/* grid*/

/* start of content-footer*/
.content .content-body .content-footer {
    width: 100%;
    height: 56px;
    bottom: 0px;
    display: flex;
    background-color: #e5e5e5;
}

.content-body .content-footer .paging-left{
    float: left;
    margin-left: 16px;
    align-self: center;
}

.content-body .content-footer .paging-mid {
    align-content: center;
    margin-left: 16px;
    align-self: center;
}

.content-body .content-footer .paging-right {
    float: right;
    margin-left: 16px;
    align-self: center;
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../content/font/GoogleSans-Bold.otf') format('opentype');
}
