/*dữ liệu bảng*/
.gird {
    margin-left: 16px;
    margin-right: 16px;
    overflow-x: auto;
    overflow-y: auto;
}

table th, td {
    border-bottom: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    padding: 10px 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table th {
    padding-top: 22px !important;
    
}
table td {
    max-width: 200px;
}
tbody tr {
    cursor: pointer; 
}

tbody tr:nth-child(2n+1) {
    background-color: #fafafa;
    
}
    tbody tr:hover {
        background-color: #e5e5e5;
    }
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.row-select {
    background-color: #019160 !important;
    
}