/*input css*/
input, select {
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    width: 100%;
    box-sizing: border-box;
}
    input[type=radio] {
        height: 20px;
        width: 20px;
    }
.input-search {
    padding-left: 40px;
}
