/*css giao diện menu navbar*/
.navbar {
    float: left;
    width: 220px;
    background-color: #ffffff;
    border-right-color: #E5E5E5;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100vh;
}

    .navbar .logo-site, .navbar-logo-box {
        width: 100%;
        height: 61px;
        display: flex;
    }

    .navbar .logo-box {
        display: flex;
        width: 100%;
        padding: 24px 0 0 24px;
    }

        .navbar .logo-box .toggle-icon {
            width: 24px;
            height: 24px;
            background-image: url('../../content/img/toggle.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 10px;
        }

        .navbar .logo-box .amis-logo {
            width: 100%;
            background-image: url('../../content/img/amis-logo.png');
            background-repeat: no-repeat;
            height: 24px;
            background-size: contain;
        }

    .navbar.navber-content {
        width: 100%;
    }

    .navbar .navbar-content .nav-item {
        display: flex;
        padding-left: 24px;
        height: 44px;
        line-height: 44px;
        cursor: pointer;
    }

a {
    text-decoration: none;
    color: #000000;
}

.navbar .navbar-content .nav-item:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.navbar .navbar-content .nav-item:focus {
    background-color: #019160;
}

.navbar .navbar-content .nav-item .nav-item-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    background-size: contain;
    margin-right: 10px;
}
/*lập hồ sơ điện tử*/
.nav-item .nav-item-document-online {
    background-image: url(/content/img/toggle.png)
}
/*lập hồ sơ điện giấy*/
.nav-item-2 {
    background-image: url(/content/img/toggle.png)
}
/*Theo dõi chi*/
.nav-item-3 {
    background-image: url(/content/img/toggle.png)
}
/*quản lí khách hàng*/
.nav-item-4 {
    background-image: url('/content/icon/dic-employee.png');
}
/*quản lí nhân viên*/
.nav-item-5 {
    background-image: url('/content/icon/dic-employee.png');
}
/*Thiết lập*/
.nav-item-6 {
    background-image: url('/content/icon/setting.png');
}
