<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/page/content.css" rel="stylesheet" />
    <link href="/css/common/grid.css" rel="stylesheet" />
</head>
<body>
    <div class="side-bar">
        <div class="top-bar">
            <a href="" class="a-avatar tooltip">
                <span class="tooltiptext">Thông tin tài khoản</span>
                <div class="n-icon avatar"></div>
            </a>
            <a href="addorder.html" class="page-link tooltip">
                <span class="tooltiptext">Tạo đơn hàng</span>
                <div class="n-icon shopping-cart-icon"></div>
            </a>
            <a href="homehtml.html" class="page-link tooltip">
                <span class="tooltiptext">Quản lý đơn hàng</span>
                <div class="n-icon orders-icon"></div>
            </a>
            <a href="" class="page-link tooltip">
                <span class="tooltiptext">Vận chuyển</span>
                <div class=" n-icon truck-icon"></div>
            </a>
        </div>
        <div class="bottom-bar">
            <a href="" class="page-link tooltip">
                <span class="tooltiptext">Cài đặt</span>
                <div class="n-icon setting-icon"></div>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="header-content">
            <div class="header-left">
                <div class="n-icon header-left-icon"></div>
                <div class="header-left-text" id="PageTitle">TẠO ĐƠN</div>
            </div>
            <div class="header-right"></div>
        </div>
        <div class="body-content">
            
        </div>
    </div>
    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/comon/common.js"></script>
    <script src="/js/base/base.js"></script>
</body>
</html>