<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MISA Dictionary</title>
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/page/common.css" rel="stylesheet" />
    <link href="/css/lib/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <div class="nav-header">
            <div class="logo-box">
                <div class="m-icon toggle-icon"></div>
                <div class="logo-image"></div>
            </div>
        </div>
        <div class="nav-content">
            <div class="nav-item select-menu-item" id="Goods" fieldName="Goods">
                <div class="nav-item-box">
                    <div class="m-icon nav-item-icon active goods-icon"></div>
                    <div class="nav-item-text">Hàng hóa</div>
                </div>
            </div>
            <div class="nav-item" id="category" fieldName="Category">
                <div class="nav-item-box">
                    <div class="m-icon nav-item-icon category-icon"></div>
                    <div class="nav-item-text">Danh mục</div>
                </div>
            </div>
            <div class="nav-item" id="brand" fieldName="Brand">
                <div class="nav-item-box">
                    <div class="m-icon nav-item-icon brands-icon"></div>
                    <div class="nav-item-text">Thương hiệu</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <div class="header">
        <div class="header-left">
        </div>
        <div class="header-right">
            <div class="header-right-box">
                <div class="avatar"></div>
                <div class="username">Đặng Thị Nga</div>
                <div class="m-icon setting-more-icon"></div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content">
        <div class="content-header">
            <div class="content-header-title">Hàng hóa</div>
            <div class="content-header-right"></div>
        </div>
        <!-- content Hàng hóa -->
        <div class="content-body" id="Goods" fieldName="Goods" route="Goods" titleName="Hàng hóa">
            <div class="content-filter">
                <div class="content-filter-left">
                    <div class="m-input">
                        <div class="m-icon search-icon"></div>
                        <input class="search-field" name="seacrh" type="search" placeholder="Mã barcode/ Tên sản phẩm" />
                    </div>
                    <div class="m-box m-dropdown" id="brand-list" name="Brand" fieldName="BrandId" title="Chọn thương hiệu" loadAfterSelect></div>
                    <div class="m-box m-dropdown" id="category-list" name="Category" fieldName="CategoryId" title="Chọn danh mục" loadAfterSelect></div>
                </div>
                <div class="content-filter-right">
                    <button class="m-button-icon" id="btnDelete" disabled title="Xóa">
                        <div class="m-icon delete-icon"></div>
                    </button>
                    <button class="m-button-icon" id="btn-add" title="Thêm">
                        <div class="m-icon add-icon"></div>
                    </button>
                    <button class="m-button-icon" id="btn-refresh" title="Làm mới">
                        <div class="m-icon refresh-icon"></div>
                    </button>
                </div>
            </div>
            <div class="grid">
                <table class="m-table" id="Goodss-table">
                    <thead>
                        <tr>
                            <th class="field-short" fieldName="Checkbox">
                                <div class="thead-box">
                                    <label class="m-checkbox">
                                        <input class="checkbox" type="checkbox" name="order" value="all" id="checkAll" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </th>
                            <th fieldName="GoodsBarcode" class="field-short">
                                <div class="thead-box">
                                    <div class="thead-text">Mã hàng hóa</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="GoodsName" class="field-medium">
                                <div class="thead-box">
                                    <div class="thead-text">Tên sản phẩm</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="GoodsUnit" class="field-short">
                                <div class="thead-box">
                                    <div class="thead-text">Đơn vị tính</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="CategoryName" class="field-medium">
                                <div class="thead-box">
                                    <div class="thead-text">Nhóm hàng hóa</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="BrandName" class="field-medium">
                                <div class="thead-box">
                                    <div class="thead-text">Thương hiệu</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="GoodsDescription" class="field-long">
                                <div class="thead-box">
                                    <div class="thead-text">Mô tả</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="CreatedDate" class="field-short" formatType="dd/mm/yyyy">
                                <div class="thead-box center">
                                    <div class="thead-text">Ngày tạo</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="ModifiedDate" class="field-short" formatType="dd/mm/yyyy">
                                <div class="thead-box center">
                                    <div class="thead-text">Ngày chỉnh sửa</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- Nếu không có dữ liệu thì hiển thị -->
            <div class="nodata-mark displayNone">
                <div class="nodata-image"></div>
                <div>Không có dữ liệu</div>
            </div>
            <div class="paging">
                <div class="paging-left">
                    <div class="paging-left-text">Hiển thị <span id="range">...</span> trên <span id="total">...</span> hàng hóa</div>
                </div>
                <div class="paging-mid">
                    <button class="m-button-icon" id="jumpToFirst">
                        <div class="m-icon chevrons-left-icon"></div>
                    </button>
                    <button class="m-button-icon chevron-left" id="previous">
                        <div class="m-icon chevron-left-icon"></div>
                    </button>
                    <div class="paging-number">
                        <button class="m-button-round selected">1</button>
                        <button class="m-button-round">2</button>
                        <button class="m-button-round">3</button>
                        <button class="m-button-round">4</button>
                        <button class="m-button-round">5</button>
                    </div>
                    <button class="m-button-icon chevron-right" id="next">
                        <div class="m-icon chevron-right-icon"></div>
                    </button>
                    <button class="m-button-icon" id="jumpToLast">
                        <div class="m-icon chevrons-right-icon"></div>
                    </button>
                </div>
                <div class="paging-right">
                    <div class="pageSize m-box" name="PageSize"></div>
                    <div>hàng hóa trên trang</div>
                </div>
            </div>
            <!-- dialog -->
            <div class="m-dialog displayNone" fieldName="GoodsId">
                <div class="modal"></div>
                <div class="dialog-detail">
                    <div class="dialog-header">
                        <div class="header-text">THÊM</div>
                        <div class="btn-exit" id="btn-exit"></div>
                    </div>
                    <div class="dialog-body">
                        <div class="dialog-col">
                            <div class="content-box">
                                <div class="box-body">
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Tên hàng hóa (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Tên sản phẩm không được phép bỏ trống</div>
                                            <input class="m-input" type="text" required fieldName="GoodsName" validate="false" />
                                        </div>
                                    </div>
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Mã Barcode (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Mã sản phẩm không được phép bỏ trống</div>
                                            <div class="error-validate error-duplicate displayNone">Mã sản phẩm đã có trên hệ thống</div>
                                            <input class="m-input" type="text" maxlength="20" required fieldName="GoodsBarcode" validate="false" unduplicated />
                                        </div>
                                    </div>
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Đơn vị tính</div>
                                            <input class="m-input" type="text" fieldName="GoodsUnit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dialog-col">
                            <div class="content-box">
                                <div class="box-body">
                                    <div class="input-line">
                                        <div class="input-box input-box-medium ">
                                            <div class="input-title">Nhóm hàng hóa (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Nhóm hàng hóa không được phép bỏ trống</div>
                                            <div class="m-box m-combobox" id="cb-category" name="Category" validate="false" fieldName="CategoryId" title="Chọn danh mục"></div>
                                        </div>
                                    </div>
                                    <div class="input-line">
                                        <div class="input-box input-box-medium ">
                                            <div class="input-title">Thương hiệu</div>
                                            <div class="m-box m-combobox" id="cb-brand" name="Brand" fieldName="BrandId" title="Chọn thương hiệu"></div>
                                        </div>
                                    </div>
                                    <div class="note">
                                        <div class="input-box input-box-big">
                                            <div class="input-title">Mô tả</div>
                                            <textarea class="m-input note-area" fieldName="GoodsDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-footer">
                        <button class="m-button m-button-short btn-cancel" id="btn-cancel">Hủy</button>
                        <button class="m-button" id="btn-save">
                            <div class="m-icon save-icon"></div>
                            <div class="btn-text">Lưu</div>
                        </button>
                        <button class="m-button m-button-long" id="btn-saveAdd">Lưu và thêm mới</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- content Thương hiệu -->
        <div class="content-body displayNone" id="brand" fieldName="Brand" route="Brands" titleName="Thương hiệu">
            <div class="content-filter">
                <div class="content-filter-left">
                    <div class="m-input">
                        <div class="m-icon search-icon"></div>
                        <input class="search-field" name="seacrh" type="search" placeholder="Mã/ Tên thương hiệu" />
                    </div>
                    <div class="m-box m-dropdown" id="cbBrandOrigin" name="BrandOrigin" fieldName="BrandOrigin" title="Chọn xuất xứ" loadAfterSelect></div>
                </div>
                <div class="content-filter-right">
                    <button class="m-button-icon" id="btnDelete" disabled title="Xóa">
                        <div class="m-icon delete-icon"></div>
                    </button>
                    <button class="m-button-icon" id="btn-add" title="Thêm">
                        <div class="m-icon add-icon"></div>
                    </button>
                    <button class="m-button-icon" id="btn-refresh" title="Làm mới">
                        <div class="m-icon refresh-icon"></div>
                    </button>
                </div>
            </div>
            <div class="grid">
                <table class="m-table" id="brands-table">
                    <thead>
                        <tr>
                            <th class="field-short" fieldName="Checkbox">
                                <div class="thead-box">
                                    <label class="m-checkbox">
                                        <input class="checkbox" type="checkbox" name="order" value="all" id="checkAll" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </th>
                            <th fieldName="BrandCode" class="field-short">
                                <div class="thead-box">
                                    <div class="thead-text">Mã thương hiệu</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="BrandName" class="field-medium">
                                <div class="thead-box">
                                    <div class="thead-text">Tên thương hiệu</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="BrandOrigin" class="field-short">
                                <div class="thead-box">
                                    <div class="thead-text">Xuất xứ thương hiệu</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="BrandDescription" class="field-long">
                                <div class="thead-box">
                                    <div class="thead-text">Mô tả</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="CreatedDate" class="field-short" formatType="dd/mm/yyyy">
                                <div class="thead-box center">
                                    <div class="thead-text">Ngày tạo</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="ModifiedDate" class="field-short" formatType="dd/mm/yyyy">
                                <div class="thead-box center">
                                    <div class="thead-text text-align-center">Ngày chỉnh sửa</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- Nếu không có dữ liệu thì hiển thị -->
            <div class="nodata-mark displayNone">
                <div class="nodata-image"></div>
                <div>Không có dữ liệu</div>
            </div>
            <div class="paging">
                <div class="paging-left">
                    <div class="paging-left-text">Hiển thị <span id="range">...</span> trên <span id="total">...</span> thương hiệu</div>
                </div>
                <div class="paging-mid">
                    <button class="m-button-icon" id="jumpToFirst">
                        <div class="m-icon chevrons-left-icon"></div>
                    </button>
                    <button class="m-button-icon chevron-left" id="previous">
                        <div class="m-icon chevron-left-icon"></div>
                    </button>
                    <div class="paging-number">
                        <button class="m-button-round selected">1</button>
                        <button class="m-button-round">2</button>
                        <button class="m-button-round">3</button>
                        <button class="m-button-round">4</button>
                        <button class="m-button-round">5</button>
                    </div>
                    <button class="m-button-icon chevron-right" id="next">
                        <div class="m-icon chevron-right-icon"></div>
                    </button>
                    <button class="m-button-icon" id="jumpToLast">
                        <div class="m-icon chevrons-right-icon"></div>
                    </button>
                </div>
                <div class="paging-right">
                    <div class="pageSize m-box" name="PageSize"></div>
                    <div>thương hiệu trên trang</div>
                </div>
            </div>
            <!-- dialog -->
            <div class="m-dialog displayNone" fieldName="BrandId">
                <div class="modal"></div>
                <div class="dialog-detail">
                    <div class="dialog-header">
                        <div class="header-text">THÊM</div>
                        <div class="btn-exit" id="btn-exit"></div>
                    </div>
                    <div class="dialog-body">
                        <div class="dialog-col">
                            <div class="content-box">
                                <div class="box-body">
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Tên thương hiệu (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Tên thương hiệu không được phép bỏ trống</div>
                                            <div class="error-validate error-duplicate displayNone">Tên thương hiệu đã có trên hệ thống</div>
                                            <input class="m-input" type="text" required unduplicated fieldName="BrandName" validate="false" />
                                        </div>
                                    </div>
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Mã thương hiệu (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Mã thương hiệu không được phép bỏ trống</div>
                                            <div class="error-validate error-duplicate displayNone">Mã thương hiệu đã có trên hệ thống</div>
                                            <input class="m-input" type="text" maxlength="20" required unduplicated fieldName="BrandCode" validate="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dialog-col">
                            <div class="content-box">
                                <div class="box-body">
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Xuất xứ</div>
                                            <div class="m-box m-dropdown" name="BrandOrigin" fieldName="BrandOrigin" title="Chọn xuất xứ"></div>
                                        </div>
                                    </div>
                                    <div class="note">
                                        <div class="input-box input-box-big">
                                            <div class="input-title">Mô tả</div>
                                            <textarea class="m-input note-area" fieldName="BrandDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-footer">
                        <button class="m-button m-button-short btn-cancel" id="btn-cancel">Hủy</button>
                        <button class="m-button" id="btn-save">
                            <div class="m-icon save-icon"></div>
                            <div class="btn-text">Lưu</div>
                        </button>
                        <button class="m-button m-button-long" id="btn-saveAdd">Lưu và thêm mới</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- content Danh mục -->
        <div class="content-body displayNone" id="category" fieldName="Category" route="Categories" titleName="Danh mục">
            <div class="content-filter">
                <div class="content-filter-left">
                    <div class="m-input">
                        <div class="m-icon search-icon"></div>
                        <input class="search-field" name="seacrh" type="search" placeholder="Mã/ Tên danh mục" />
                    </div>
                </div>
                <div class="content-filter-right">
                    <button class="m-button-icon" id="btnDelete" disabled title="Xóa">
                        <div class="m-icon delete-icon"></div>
                    </button>
                    <button class="m-button-icon" id="btn-add" title="Thêm">
                        <div class="m-icon add-icon"></div>
                    </button>
                    <button class="m-button-icon" id="btn-refresh" title="Làm mới">
                        <div class="m-icon refresh-icon"></div>
                    </button>
                </div>
            </div>
            <div class="grid">
                <table class="m-table" id="categories-table">
                    <thead>
                        <tr>
                            <th class="field-short" fieldName="Checkbox">
                                <div class="thead-box">
                                    <label class="m-checkbox">
                                        <input class="checkbox" type="checkbox" name="order" value="all" id="checkAll" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </th>
                            <th fieldName="CategoryCode" class="field-short">
                                <div class="thead-box">
                                    <div class="thead-text">Mã danh mục</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="CategoryName" class="field-medium">
                                <div class="thead-box">
                                    <div class="thead-text">Tên danh mục</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="ParentCategoryName" class="field-short">
                                <div class="thead-box">
                                    <div class="thead-text">Danh mục cha</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="CategoryDescription" class="field-long">
                                <div class="thead-box">
                                    <div class="thead-text">Mô tả</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="CreatedDate" class="field-short" formatType="dd/mm/yyyy">
                                <div class="thead-box center">
                                    <div class="thead-text">Ngày tạo</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                            <th fieldName="ModifiedDate" class="field-short" formatType="dd/mm/yyyy">
                                <div class="thead-box center">
                                    <div class="thead-text">Ngày chỉnh sửa</div>
                                    <div class="m-icon sort-icon"></div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- Nếu không có dữ liệu thì hiển thị -->
            <div class="nodata-mark displayNone">
                <div class="nodata-image"></div>
                <div>Không có dữ liệu</div>
            </div>
            <div class="paging">
                <div class="paging-left">
                    <div class="paging-left-text">Hiển thị <span id="range">...</span> trên <span id="total">...</span> danh mục</div>
                </div>
                <div class="paging-mid">
                    <button class="m-button-icon" id="jumpToFirst">
                        <div class="m-icon chevrons-left-icon"></div>
                    </button>
                    <button class="m-button-icon chevron-left" id="previous">
                        <div class="m-icon chevron-left-icon"></div>
                    </button>
                    <div class="paging-number">
                        <button class="m-button-round selected">1</button>
                        <button class="m-button-round">2</button>
                        <button class="m-button-round">3</button>
                        <button class="m-button-round">4</button>
                        <button class="m-button-round">5</button>
                    </div>
                    <button class="m-button-icon chevron-right" id="next">
                        <div class="m-icon chevron-right-icon"></div>
                    </button>
                    <button class="m-button-icon" id="jumpToLast">
                        <div class="m-icon chevrons-right-icon"></div>
                    </button>
                </div>
                <div class="paging-right">
                    <div class="pageSize m-box" name="PageSize"></div>
                    <div>danh mục trên trang</div>
                </div>
            </div>
            <!-- dialog -->
            <div class="m-dialog displayNone" fieldName="CategoryId">
                <div class="modal"></div>
                <div class="dialog-detail">
                    <div class="dialog-header">
                        <div class="header-text">THÊM</div>
                        <div class="btn-exit" id="btn-exit"></div>
                    </div>
                    <div class="dialog-body">
                        <div class="dialog-col">
                            <div class="content-box">
                                <div class="box-body">
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Tên danh mục (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Tên danh mục không được phép bỏ trống</div>
                                            <input class="m-input" type="text" required fieldName="CategoryName" validate="false" />
                                        </div>
                                    </div>
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Mã danh mục (<span>*</span>)</div>
                                            <div class="error-validate error-empty displayNone">Mã danh mục không được phép bỏ trống</div>
                                            <div class="error-validate error-duplicate displayNone">Mã danh mục đã có trên hệ thống</div>
                                            <input class="m-input" type="text" maxlength="20" required unduplicated fieldName="CategoryCode" validate="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dialog-col">
                            <div class="content-box">
                                <div class="box-body">
                                    <div class="input-line">
                                        <div class="input-box input-box-medium">
                                            <div class="input-title">Danh mục cha</div>
                                            <div class="m-box m-dropdown" name="Category" fieldName="CategoryParentId" title="Chọn danh mục cha"></div>
                                        </div>
                                    </div>
                                    <div class="note">
                                        <div class="input-box input-box-big">
                                            <div class="input-title">Mô tả</div>
                                            <textarea class="m-input note-area" fieldName="CategoryDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-footer">
                        <button class="m-button m-button-short btn-cancel" id="btn-cancel">Hủy</button>
                        <button class="m-button" id="btn-save">
                            <div class="m-icon save-icon"></div>
                            <div class="btn-text">Lưu</div>
                        </button>
                        <button class="m-button m-button-long" id="btn-saveAdd">Lưu và thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Xóa-->
    <div class="m-popup displayNone" id="popup-delete">
        <div class="modal"></div>
        <div class="popup popup-delete">
            <div class="popup-header">
                <div class="popup-header-text">Xóa bản ghi</div>
                <button class="btn-exit" id="btn-exit-popup"></button>
            </div>
            <div class="popup-body">
                <div class="popup-body-icon warning-icon"></div>
                <div class="popup-body-text">Bạn có chắc chắn muốn xóa không?</div>
            </div>
            <div class="popup-footer">
                <button class="m-button m-btn-short btn-cancel" id="btn-cancel-popup">Hủy</button>
                <button class="m-button m-btn-short btn-delete" id="btn-delete-popup">Xóa</button>
            </div>
        </div>
    </div>

    <!-- Popup thông báo -->
    <div class="m-popup displayNone popup-notification">
        <div class="modal"></div>
        <div class="popup popup-notification">
            <div class="popup-header">
                <div class="popup-header-text">Pop-up thông báo</div>
                <button class="btn-exit" id="btn-exit-popup"></button>
            </div>
            <div class="popup-body"> </div>
            <div class="popup-footer">
                <button class="m-button m-btn-short" id="btn-close">Đóng</button>
            </div>
        </div>
    </div>

    <!-- Toast messenger  -->
    <div class="m-toast-messeger displayNone">
        <div class="toast-messeger" id="toast-messeger">
            <div class="messeger-icon content-icon"></div>
            <div class="messeger">Thành công</div>
            <div class="messeger-icon  btn-exit-messeger" id="btn-exit-messeger"></div>
        </div>
    </div>

    <div class="m-loading displayNone">
        <div class="modal"></div>
        <div class="loading-box">
            <div class="stage">
                <div class="dot-spin"></div>
            </div>
        </div>
    </div>

    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery-ui.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/base.js"></script>
    <script src="/js/page/index.js"></script>
</body>
</html>