/*.content {
    position: absolute;
    top: 49px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 49px);
}

.content_header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.content_title {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin-left: 24px;
}

.content_tools {
    display: flex;
    margin-right: 16px;
}

    .content_tools .content_tools_synchronized {
        margin-right: 16px;
        border: 1px solid #ddd;
        height: 40px;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

        .content_tools .content_tools_synchronized .synchronized_icon {
            width: 16px;
            height: 16px;
            border: 1px solid;
            margin-left: 16px;
            margin-right: 8px;
        }

        .content_tools .content_tools_synchronized .synchronized_content {
            margin-right: 16px;
            font-size: 13px;
            color: #000000;
        }

    .content_tools .content_tools_add_employee {
        height: 40px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: #019160;
        overflow: hidden;
    }

        .content_tools .content_tools_add_employee .box_tools_add_employee {
            border-right: 1px solid #FFFFFF;
            display: flex;
            height: 100%;
            align-items: center;
        }

        .content_tools .content_tools_add_employee .add_employee_icon {
            width: 16px;
            height: 16px;
            margin: 0 8px 0 16px;
            background-image: url('../../content/icon/add_employee.png');
        }

        .content_tools .content_tools_add_employee .add_employee_content {
            margin-right: 16px;
            color: #FFFFFF;
            font-size: 13px;
        }

        .content_tools .content_tools_add_employee .add_employee_more {
            width: 10px;
            height: 10px;
            margin: 0 12px;
            border: 1px solid;
        }

        .content_tools .content_tools_add_employee .box_more_add_employee {
            display: flex;
            height: 100%;
            align-items: center;
        }

        .content_tools .content_tools_add_employee .box_tools_add_employee:hover {
            background-color: #2FBE8E;
            cursor: pointer;
        }

        .content_tools .content_tools_add_employee .box_more_add_employee:hover {
            background-color: #2FBE8E;
            cursor: pointer;
        }

.search_and_filter {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

    .search_and_filter .box_tool_left {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }

        .search_and_filter .box_tool_left .tool_search {
            border-radius: 4px;
            height: 40px;
            border: 1px solid #ddd;
            width: 300px;
            align-items: center;
            display: flex;
            margin-right: 16px;
        }
        .search_and_filter .box_tool_left .tool_search_icon {
            width: 16px;
            height: 16px;
            border: 1px solid;
            margin: 0 8px 0 16px;
        }
        input[type="text"] {
            width: 300px;
            height: 20px;
            border: none;
            font-size: 12px;
        }
.search_and_filter .box_tool_left .filter_room {
    width: 200px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    align-items: center;
    display: flex;
    overflow: hidden;
    margin-right: 16px;
}

    .search_and_filter .box_tool_left .select_room {
        height: 100%;
        border: none;
        margin: 0 12px 0 16px
    }

    .search_and_filter .box_tool_left .filter_status {
        width: 200px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
    }

    .search_and_filter .box_tool_right {
        width: 96px;
        height: 40px;
        margin-right: 16px;
        display: flex;
        justify-content: space-between;
    }

        .search_and_filter .box_tool_right .tool_item {
            width: 40px;
            height: 40px;
            border: 1px solid #dddddd;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .tool_download {
        background-image: url('../../content/icon/icon_down.png');
        width: 25px;
        height: 25px;
    }

    .tool_refresh {
        background-image: url('../../content/icon/icon_refresh.png');
        width: 25px;
        height: 22px;
    }

.table_and_footer {
    width: 100%;
    height: calc(100vh - 170px);
    overflow: hidden;
}

.table {
    width: calc(100% - 40px);
    height: calc(100vh - 274px);
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    overflow: scroll;
}

table {
    width: 100%;
}

table, th, td {
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 5px;
}

tr {
    height: 48px;
}

tr:hover{
    background-color:#DDDDDD;
}

.footer {
    width: 100%;
    height: 56px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left {
    margin-left: 24px;
}

.footer_center {
    display: flex;
    justify-content: space-around;
}

.number_page {
    display: flex;
}

.btn {
    width: 30px;
    height: 30px;
    background-color: #E9EBEE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

    .btn:hover {
        background-color: #2FBE8E;
        color: #FFFFFF;
    }

    .active {
        background-color: #01B075;
        color: #FFFFFF;
    }

.footer_right {
    margin-right: 16px;
}

select.select_number {
    height: 30px;
    width: 100px;
}


*/