.dialog {
    width: 500px;
    height: 500px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-color: #dddddd;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #0075FF;
    align-items: center;
    color: #ffffff;
}

.dialog-title {
    margin-left: 10px;
}

.dialog-close {
    align-self: flex-start;
    border: 1px solid;
    width: 16px;
    height: 16px;
}

.infor-employee {
    border-bottom: 1px solid #dddddd;
    height: 20px;
}

.dialog-content {
    display: flex;
    flex-direction: column;
}
.dialog-footer {
    height: 30px;
    background-color: aliceblue;
}

.title-infor-employee {
    border-bottom: 1px solid;
    height: 20px;
}

span.span-title {
    display: inline-block;
    width: 120px;
}

.item-dialog {
    margin-top: 10px;
}
