.grid {
    width: 100%;
    overflow: scroll;
}

table tr, th,td {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 16px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    min-width: 135px;
    text-align: left;
}

    table td span {
        max-width: 200px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
