.header {
    float: left;
    width: calc(100% - 221px);
    height: 48px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
/*
    CSS khu vực company
*/
.company {
    display: flex;
    margin-left: 24px;
    align-self: center;
}
    .company_logo {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-image: url('../../content/icon/logo_misaMB.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .company_name {
        align-self: center;
        font-size: 13px;
        font-weight: 600;
        margin-right: 10px;
    }

    .company_more {
        align-self: center;
        width: 10px;
        height: 5px;
        background-image: url('../../content/icon/icon_more.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

/*
    CSS Khu vực profile
*/

.profile {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

    .profile .icon_bell {
        width: 16px;
        height: 16px;
        margin-right: 16px;
        background-image: url('../../content/icon/icon_bell.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .profile .profile_avt {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background-image: url('../../content/icon/profile_avt.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .profile .profile_name {
        margin-right: 16px;
    }
    .profil_more {
        width: 10px;
        height: 2px;
        background-image: url('../../content/icon/profile_more.png');
    }