input {
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    height: 22px;
    width: 156px;
}

    input::placeholder{
        font-size: 11px;
    }

    .input-search {
        padding-left: 40px;
    }

input#dtDateOfBirth {
    width: 156px;
}