.m-select {
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    width: 190px;
}

    .m-select.m-select-footer {
        width: 110px;
    }

    .m-select.m-select-department {
        margin-left: 10px;
    }