.filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
}

    .filter-bar .filter-left {
        margin-left: 24px;
    }

    .filter-bar .filter-right {
        position: absolute;
        right: 16px;
        height: 38px;
    }