.content {
    width: calc(100% - 253px);
    /*height: calc(100vh - 81px);*/
    position: absolute;
    top: 49px;
    left: 221px;
    padding: 16px;
}


/*content-header*/

.content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .content-header .title {
        font-weight: bold;
        color: #000000;
        font-size: 20px;
    }

    .content-header .content-feature {
        width: 600px;
        display: flex;
        justify-content: flex-end;
    }

        .content-header .content-feature .icon-sync-HRM {
            background-image: url('/content/img/icon-sync.png');
            background-size: 33px 17px;
        }

        .content-header .content-feature .icon-add-user {
            background-image: url('/content/img/icon-addUser.png');
        }
/*---------------------------------------------*/

/*tool-bar*/

.tool-bar {
    width: 100%;
    display: flex;
    margin-top: 16px;
}

    .tool-bar .left-tool {
        display: flex;
        width: 800px;
    }

        .tool-bar .left-tool .search-tool {
            display: flex;
            align-items: center;
            position: relative;
        }

            .tool-bar .left-tool .search-tool .input-field {
                height: 38px;
                margin-left: 0px;
                padding-left: 40px;
            }

            .tool-bar .left-tool .search-tool .misa-icon-button {
                position: absolute;
                left: 16px;
            }

            .tool-bar .left-tool .search-tool .icon-search {
                background-image: url('/content/img/icon-search.png');
            }

    .tool-bar .right-tool {
        width: calc(100% - 800px);
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

.dowload-tool {
    background-image: url('/content/img/header-2-icon-download.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sync-tool {
    background-image: url('/content/img/header-2-icon-sync.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

/*---------------------------------------------*/

/*footer*/

.footer {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
}
    .footer .page-number {
        display: flex;
        width: calc(100% - 400px);
        justify-content: center;
    }

    .footer .pages {
        width: 200px;
        justify-content: flex-end;
        display: flex;
    }

    .footer .display-footer-text {
        width: 200px;
        justify-content: flex-start;
        display: flex;
    }

.back-right {
    background-image: url('/content/img/icons-right.png');
    width: 40px;
    background-repeat: no-repeat;
    background-size: 47px;
    background-position: center;
}

.back-left {
    background-image: url('/content/img/icon-left.png');
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*---------------------------------------------*/