.input-field {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    font-size: 12px;
    width: 200px;
    margin-left: 10px;
    padding: 0px 16px 0 16px;
}

    .input-field:focus {
        outline: none;
        border: 1px solid #019160;
    }

.icon-input-field {

}
