<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/navbar.css" rel="stylesheet" />
    <link href="/css/page/employee.css" rel="stylesheet" />
    <link href="/css/common/content.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/common/grid.css" rel="stylesheet" />
    <link href="/css/common/dialog.css" rel="stylesheet" />
    <link href="/css/common/input.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="logo-site">
            <div class="logo-box">
                <div class="toggle-icon"></div>
                <div class="amis-logo"></div>
            </div>

        </div>
        <div class="nav-content">
            <div class="nav-item">
                <div class="nav-item-icon cloud-profile-icon"></div>
                <div class="nav-item-text">Lập hồ sơ điện tử</div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon paper-profile-icon"></div>
                <div class="nav-item-text">Lập hồ sơ giấy</div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon expense-report-icon"></div>
                <div class="nav-item-text">Theo dõi chi</div>
            </div>
            <div class="nav-item">
                <div class="nav-item-icon income-report-icon"></div>
                <div class="nav-item-text">Theo dõi đóng</div>
            </div>
            <a href="employee.html">
                <div class="nav-item">
                    <div class="nav-item-icon employee-managerment-icon"></div>
                    <div class="nav-item-text">Quản lý nhân viên</div>
                </div>
            </a>
            <a href="customer.html">
                <div class="nav-item">
                    <div class="nav-item-icon employee-managerment-icon"></div>
                    <div class="nav-item-text">Quản lý khách hàng </div>
                </div>
            </a>
            <div class="nav-item">
                <div class="nav-item-icon setting-icon"></div>
                <div class="nav-item-text">Thiết lập</div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-left">
            <select>
                <option>Công ty cổ phần MISA test BHXH</option>
            </select>
            <div class="drop-icon"></div>
        </div>

        <div class="header-right">
            <div class="header-right-box">
                <div class="profile-image"></div>
                <div class="profile-name">Demo AMIS BHXH</div>
                <div class="setting-more-icon"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <div class="content-header-title">Quản lý nhân viên</div>
            <div class="content-header-right">
                <div class="header-right-box">
                    <button class="m-btn sync-btn" id="btn-sync">
                        <div class="m-btn-icon btn-sync-icon"></div>
                        <div class="btn-text btn-sync-text">Đồng bộ từ HRM</div>
                    </button>
                    <div class="btn-add-box">
                        <button class="m-btn" id="btn-add">
                            <div class="m-btn-icon btn-add-icon"></div>
                            <div class="btn-text btn-add-text">Thêm lao động</div>
                        </button>
                        <button class="m-btn m-btn-dropdown">
                            <div class="btn-drop-icon"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="content-filter">
                <div class="content-filter-left">
                    <div class="input-box">
                        <div class="serch-icon"></div>
                        <input class="search-field" id="search-field" name="seacrh" type="text" placeholder="Tìm kiếm theo mã nhân viên, họ tên" />
                    </div>
                    <div class="input-box">
                        <input class="department-field" id="department-field" name="department" type="text" placeholder="Chọn bộ phận phòng ban" />
                        <div class="btn-drop-icon select-department-icon"></div>
                    </div>
                    <div class="input-box">
                        <input class="state-field" id="state-field" name="state" type="text" placeholder="Trạng thái them gia BHXH" />
                        <div class="select-state-icon"></div>
                    </div>
                </div>
                <div class="content-filter-right">
                    <div class="filter-right-box">
                        <button class="m-btn">
                            <div class="btn-save"></div>
                        </button>
                        <button class="m-btn">
                            <div class="btn-refresh"></div>
                        </button>
                    </div>

                </div>
            </div>
            <div class="grid">
                <table class="table-customer" id="tbListEmployee">
                    <thead>
                        <tr>
                            <th fieldName="EmployeeCode">Mã nhân viên</th>
                            <th fieldName="FullName">Tên nhân viên</th>
                            <th fieldName="GenderName">Giới tính</th>
                            <th fieldName="DateOfBirth" formatType="ddmmyy">Ngày sinh</th>
                            <th fieldName="Email">Email</th>
                            <th fieldName="PositionName">Vị trí</th>
                            <th fieldName="DepartmentName">Phòng ban</th>
                            <th fieldName="Salary" formatType="Money"> Mức lương</th>
                            <th title="Tình trạng công việc" fieldName="WorkStatusName"><span>Tình trạng công việc</span></th>
                            <th fieldName="Address">Địa chỉ</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>

            </div>
            <div class="content-footer">
                <div class="paging-left" id="paging-left"></div>
                <div class="paging-mid" id="paging-mid">
                    <button id="btn-back"></button>
                    <div class="paging-range" id="paging-range"></div>
                    <button id="btn-next"></button>
                </div>
                <div class="paging-right" id="paging-right">
                    <select>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="m-dialog">
        <div class="dialog-modal"></div>
        <div class="dialog-detail">
            <div class="dialog-header">
                <div class="header-text">THÔNG TIN NHÂN VIÊN</div>
                <div class="btn-exit" id="btn-exit"></div>
            </div>
            <div class="dialog-body">
                <div class="detail-wrap-up">
                    <div class="avatar">
                        <div class="avatar-image"></div>
                        <div class="avatar-text">Vui lòng chọn ảnh có định dạng <b>.jpg, .jpeg, .png, .gif</b></div>
                    </div>
                    <div class="info-wrap-up">
                        <div class="input-line">
                            <div class="input-box input-box-small ">
                                <div class="input-title">Mã nhân viên (<span>*</span>)</div>
                                <input class=" m-input" type="text" id=" txt-customerId" />
                            </div>
                            <div class="input-box input-box-small">
                                <div class="input-title">Vị trí</div>
                                <input class=" m-input" type="text" id=" txt-customerId" />
                            </div>
                        </div>
                        <div class="input-line">
                            <div class="input-box input-box-medium">
                                <div class="input-title">Phòng ban</div>
                                <input class=" m-input" type="text" id=" txt-customerId" />
                            </div>
                        </div>
                        <div class="input-line">
                            <div class="input-box input-box-small">
                                <div class="input-title">Họ và tên (<span>*</span>)</div>
                                <input class=" m-input" type="text" id=" txt-customerId" />
                            </div>
                            <div class="input-box input-box-small">
                                <div class="input-title">Giới tính</div>
                                <input class=" m-input" type="text" id=" txt-customerId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-wrap-down">
                    <div class="input-line">
                        <div class="input-box input-box-small ">
                            <div class="input-title">Ngày sinh</div>
                            <input class=" m-input" type="text" id=" txt-customerId" />
                        </div>
                        <div class="input-box input-box-small ">
                            <div class="input-title">Số điện thoại (<span>*</span>)</div>
                            <input class=" m-input" type="text" id=" txt-customerId" />
                        </div>
                        <div class="input-box input-box-small ">
                            <div class="input-title">Email</div>
                            <input class=" m-input" type="text" id=" txt-customerId" />
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-box input-box-medium ">
                            <div class="input-title">Tên công ty</div>
                            <input class=" m-input" type="text" id=" txt-customerId" />
                        </div>
                        <div class="input-box input-box-small ">
                            <div class="input-title">Mã số thuế</div>
                            <input class=" m-input" type="text" id=" txt-customerId" />
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-box input-box-big ">
                            <div class="input-title">Địa chỉ</div>
                            <input class=" m-input" type="text" id=" txt-customerId" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-footer">

            </div>
        </div>
    </div>


    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/Base.js"></script>
    <script src="/js/page/employee.js"></script>
</body>
</html>