.content{
    position: absolute;
    top:60px;
    left:221px;
    width: calc(100% - 221px);
    height:calc(100vh - 60px);
    
}
    .content .taskbar {
        display: flex;
        height: 60px;
        width: 100%;
        
    }
.taskbar .taskbar-content{
    line-height:60px;
    font-size: 18px;
    margin-left:16px;
    width: 220px;
}
.taskbar .sync {
    display: flex;
    height: 30px;
    width: 145px;
    padding: 0 8px 0 8px;
    box-sizing:border-box;
    border: 1px solid #454545;
    border-radius: 3px;
    align-self: center;
    margin-right: 16px;
}
.sync .sync-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 10px;
    background-size: 20px 20px;
    background-image: url('../../content/image/content/icon-sync.png');
}
.sync .sync-text {
    align-self: center;
    color: #01B075;
}
.add-employee {
    display: flex;
    height: 30px;
    width: 154px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #454545;
    align-self: center;
    background-color: #01B075;
    margin-right: 16px;
}
    .add-employee .add-employee-icon {
        width: 20px;
        height: 20px;
        align-self: center;
        background-size: 20px 20px;
    }
.icon1 {
    background-image: url('../../content/image/content/icon-add-new-employee.png');
    margin-right:8px;
}
.icon2 {
    background-image: url('../../content/image/content/write-simple-7.png');
}
.add-employee .add-employee-text {
    color: #ffffff;
    align-self: center;
    width: 90px;
    
}
.taskbar-content-buton{
    display:flex;
    margin-left:auto;
}

.filter{
    height:32px;
    width:100%;
    display:flex;
}
    .filter .search{
        height:32px;
        width:320px;
        margin-left:16px;

    }
#searchstring {
    width: 100%;
    height:32px;
    box-sizing: border-box;
    border: 2px solid #01B075;
    border-radius: 4px;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
}
#search-icon::after {
    content: "\f002";
    font-family:GoogleSans-Regular;
    position: absolute;
    font-size: 24px;
    color: #cccccc;
    top: 65px;
    left: 32px;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}
.select-department{
    height:32px;
    width:250px;
    margin-left:16px;
}
.status {
    height: 32px;
    width: 215px;
    margin-left: 16px;
}
.filter-icon {
    display: flex;
    height: 30px;
    width: 72px;
    margin-left:auto;
}
.filter-icon-content {
    width: 25px;
    height: 21px;
    background-size: 18px 19px;
    align-self: center;
    border: 1px solid #cccccc;
    box-sizing:border-box;
    border-radius:4px;
    margin-right:16px;
    background-repeat:no-repeat;
}
    .icon-download {
        background-image: url('../../content/image/content/download-7.png');
    }
     .filter-icon-reload {
        background-image: url('../../content/image/content/Loading-512.png');
    }
.data{
    width: calc(100% - 16px);
    margin-left: 16px;
}
.table-data{
    width:100%;
    
}
.table-data .tr{
    border:1px solid #cccccc;
}