.header{
    width:100%;
    height: 60px;
    display:flex;
    
}
.header .logo-box {
    display: flex;
    width: 196px;
    height: 36px;
}
.logo-box .toggle-icon {
    width: 24px;
    height: 24px;
    background-image: url('/content/image/toggle.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header .logo-box {
    padding: 24px 0 0 24px;
}

.logo-box .amis-logo {
    width: 100%;
    height: 24px;
    background-image: url('/content/image/amis-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.header .header-content {
    display: flex;
    height: 60px;
    width: calc(100% - 221px);
    border-bottom: 1px solid #e5e5e5;
}
.header-content .company{
    height:33px;
    width: 260px;
    align-self:center;
    margin-top:18px;
    margin-left:16px;
}
.header-content .user-box{
    display:flex;
    width:276px;
    height:35px;
    line-height:35px;
    margin-top:16px;
    margin-left:auto;
}
.user-box .user-avatar {
    width: 35px;
    height: 35px;
    background-image: url('../../content/image/header/user_3_Avatar.png');
    background-repeat: no-repeat;
    align-self: center;
    background-size: 35px 35px;
}
.user-box .user-name{
    line-height:35px;
    margin-left: 16px;
    margin-right:16px;
}
.user-box .user-icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin-right: 16px;
    margin-top: 8px
}
.icon-notification {
    background-image: url('../../content/image/header/bell-7.png');
}
.icon-user-setting {
    background-image: url('../../content/image/header/dot-more-7.png');
}