/*button*/
.m-btn {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

    .m-btn:hover {
        background-color: #2FBE8E;
    }

    .m-btn .btn-text {
        margin-left: 8px;
    }

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../content/font/GoogleSans-Regular.otf') format('opentype');
}

.m-second-button {
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    border-radius: 4px;
    color: #000000;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.btn-default:focus {
    outline: none;
}

.m-second-button:hover {
    background-color: #E9EBEE;
}
/*button refresh*/
.m-btn-refresh {
    background-image: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    height: 40px;
}
/*button delete*/
.m-btn-delete {
    background-image: url('/content/icon/trash-2.svg');
    background-repeat: no-repeat;
    width: 40px;
    background-position: center;
    height: 40px;
    margin-right: 12px;
}
