<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Demo AMIS BHXH</title>
    <link href="/common/button.css" rel="stylesheet" />
    <link href="/common/content.css" rel="stylesheet" />
    <link href="/common/grid.css" rel="stylesheet" />
    <link href="/common/header.css" rel="stylesheet" />
    <link href="/common/input.css" rel="stylesheet" />
    <link href="/common/main.css" rel="stylesheet" />
    <link href="/common/navbar.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <div class="logo-site">
            <div class="toggle-icon"></div>
            <div class="amis-logo"></div>
        </div>
        <div class="navbar-content">
            <div class="navbar-item">
                <div class="navbar-item-icon document-online"></div>
                <div class="navbar-item-text">Làm hồ sơ điện tử</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon document-default"></div>
                <div class="navbar-item-text">Lập hồ sơ giấy</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon report"></div>
                <div class="navbar-item-text">Theo dõi chi</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon dashboard"></div>
                <div class="navbar-item-text">Theo dõi đóng</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon dic-employee"></div>
                <div class="navbar-item-text">Quản lý lao động</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon setting"></div>
                <div class="navbar-item-text">Thiết lập</div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-selector-box">
            <div class="header-icon"></div>
            <div class="selector-box">
                <div class="header-text">Công ty cổ phần MISA chi nhánh miền Bắc</div>
                <div class="header-selector"></div>
            </div>
        </div>
        <div class="header-account">
            <div class="header-icon-notify"></div>
            <div class="header-icon-avatar"></div>
            <div class="header-account-name">Nguyễn Thị Ngọc Huyền</div>
            <div class="header-icon-more"></div>
        </div>
    </div>
    <div class="content">
        <div class="employee-content">
            <div class="header-content">
                <h1 class="title">Quản lý lao động</h1>
                <div class="content-feature">
                    <div class="m-btn m-btn-icon btn-sync">Đồng bộ từ HRM</div>
                    <div class="content-add-box">
                        <div class="m-btn m-btn-icon btn-add"><span>Thêm lao động</span></div>
                    </div>
                </div>
            </div>
            <div class="filter-bar">
                <div class="filter-left">
                    <input class="search" type="text" name="search" placeholder="Tìm kiếm theo mã nhân viên, họ tên"></input>
                    <select></select>
                    <div class="combobox">
                        <input type="text" name="search" placeholder="Trạng thái tham gia BHXH">
                        <button class="btn-single-icon icon-down"></button>
                    </div>
                </div>
                <div class="filter-right">
                    <button class="btn-single-icon download-btn" type="button"></button>
                    <button class="btn-single-icon btn-sync" type="button"></button>
                </div>
            </div>
            <div class="grid grid-employee">
                <table border="0" width="100%" style="border-collapse: unset;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã nhân viên</th>
                            <th>Họ tên</th>
                            <th>Mã số BHXH</th>
                            <th>Giới tính</th>
                            <th>Vị trí/chức vụ</th>
                            <th>Bộ phận/phòng ban</th>
                            <th>Hệ sô/Mức lương đóng BHXH</th>
                            <th>Trạng thái tham gia BHXH</th>
                            <th>Bệnh viện</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>NV003</td>
                            <td>Nguyễn Văn A</td>
                            <td>2746352957</td>
                            <td>Nam</td>
                            <td>Nhân viên</td>
                            <td>Văn phòng công ty</td>
                            <td>5500000</td>
                            <td>Đang tham gia</td>
                            <td>Bệnh viện đa khoa ABC</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NV003</td>
                            <td>Nguyễn Văn A</td>
                            <td>2746352957</td>
                            <td>Nam</td>
                            <td>Nhân viên</td>
                            <td>Văn phòng công ty</td>
                            <td>5500000</td>
                            <td>Đang tham gia</td>
                            <td>Bệnh viện đa khoa ABC</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NV003</td>
                            <td>Nguyễn Văn A</td>
                            <td>2746352957</td>
                            <td>Nam</td>
                            <td>Nhân viên</td>
                            <td>Văn phòng công ty</td>
                            <td>5500000</td>
                            <td>Đang tham gia</td>
                            <td>Bệnh viện đa khoa ABC</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>NV003</td>
                            <td>Nguyễn Văn A</td>
                            <td>2746352957</td>
                            <td>Nam</td>
                            <td>Nhân viên</td>
                            <td>Văn phòng công ty</td>
                            <td>5500000</td>
                            <td>Đang tham gia</td>
                            <td>Bệnh viện đa khoa ABC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content-pagination">

            </div>
        </div>
    </div>
</body>

</html>