<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Demo AMIS BHXH</title>
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/common/navbar.css" rel="stylesheet" />
    <link href="/css/common/input.css" rel="stylesheet" />
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/grid.css" rel="stylesheet" />
    <link href="/css/common/content.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/page/employee.css" rel="stylesheet" />
    <link href="/css/common/select.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <div class="logo-site">
            <div class="toggle-icon"></div>
            <div class="amis-logo"></div>
        </div>
        <div class="navbar-content">
            <div class="navbar-item">
                <div class="navbar-item-icon document-online"></div>
                <div class="navbar-item-text">Làm hồ sơ điện tử</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon document-default"></div>
                <div class="navbar-item-text">Lập hồ sơ giấy</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon report"></div>
                <div class="navbar-item-text">Theo dõi chi</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon dashboard"></div>
                <div class="navbar-item-text">Theo dõi đóng</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon dic-employee"></div>
                <div class="navbar-item-text">Quản lý lao động</div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-icon setting"></div>
                <div class="navbar-item-text">Thiết lập</div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-selector-box">
            <div class="header-icon"></div>
            <div class="selector-box">
                <div class="header-text">Công ty cổ phần MISA chi nhánh miền Bắc</div>
                <div class="header-selector"></div>
            </div>
        </div>
        <div class="header-account">
            <div class="header-icon-avatar"></div>
            <div class="header-account-name">Nguyễn Thị Ngọc Huyền</div>
            <div class="header-icon-more"></div>
        </div>
    </div>
    <div class="content">
        <div class="employee-content">
            <div class="header-content">
                <h1 class="title">Quản lý lao động</h1>
                <div class="content-feature">
                    <div class="m-btn m-btn-icon btn-sync">Đồng bộ từ HRM</div>
                    <div class="content-add-box">
                        <div class="m-btn m-btn-icon btn-add"><span>Thêm lao động</span></div>
                    </div>
                </div>
            </div>
            <div class="filter-bar">
                <div class="filter-left">
                    <input class="search" type="text" name="search" placeholder="Tìm kiếm theo mã nhân viên, họ tên"></input>
                    <select></select>
                </div>
                <div class="filter-right">
                    <button class="btn-single-icon download-btn" type="button"></button>
                    <button class="btn-single-icon btn-sync" type="button"></button>
                </div>
            </div>
            <div class="grid grid-employee">
                <table border="0" width="100%" style="border-collapse: unset;">
                    <thead>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Họ tên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Mức lương</th>
                            <th>Phòng ban</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="pagination">
                <div class="pagi-left">
                    <p><span>Hiển thị </span><strong>0-21/1xx</strong><span> lao động</span></p>
                </div>
                <div class="pagi-center">
                    <button class=".m-btn btn-single-icon">&laquo;</button>
                    <button class=".m-btn btn-single-icon">&lt;</button>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <button class=".m-btn btn-single-icon">&gt;</button>
                    <button class=".m-btn btn-single-icon">&raquo;</button>
                </div>
                <div class="pagi-right">
                    <p>20 lao động/trang &diams;</p>
                </div>
            </div>
        </div>
    </div> 
    <div class="background-modal"></div>
    <div class="dialog-modal" style="display: none;">
        <div class="dialog">
            <div class="dialog-header">
                <div class="header-text"><p>THÊM MỚI LAO ĐỘNG</p></div>
                <div class="btn-single-icon dialog-close-button"></div>
            </div>
            <div class="dialog-body">
                <div class="col-9">
                    <div class="body-text">A. THÔNG TIN CHUNG</div>
                    <div class="col-12">
                        <div class="col-6">
                            <label>Mã nhân viên *</label>
                            <input type="text" />
                            <label>Tên nhân viên *</label>
                            <input type="text" />
                            <label>Ngày sinh</label>
                            <input type="date" />
                            <label>Giới tính</label>
                            <select>
                                <option>Nam</option>
                                <option>Nữ</option>
                                <option>Không xác định</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Email *</label>
                            <input type="text" />
                            <label>Điện thoại di động *</label>
                            <input type="text" />
                            <label>Số CMT</label>
                            <input type="number" />
                            <label>Ngày cấp</label>
                            <input type="date" />
                            <label>Nơi cấp CMND</label>
                            <input type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="body-text">B. THÔNG TIN CÔNG VIỆC</div>
                    <label>Vị trí</label>
                    <select>
                        <option>Thu ngân</option>
                        <option>Giám đốc</option>
                        <option>Nhân viên</option>
                    </select><label>Phòng ban</label>
                    <select>
                        <option>Phòng Marketing</option>
                        <option>Phòng nhân sự</option>
                        <option>Phòng công nghệ</option>
                    </select>
                    <label>Mã số thuế các nhân</label>
                    <input type="text" />
                    <label>Mức lương</label>
                    <input type="text" />
                    <label>Ngày gia nhập</label>
                    <input type="date" />
                    <label>Tình trạng trạng</label>
                    <select>
                        <option>Đang làm việc</option>
                        <option>Đã nghỉ việc</option>
                        <option>Đang thử việc</option>
                    </select>
                </div>
            </div>
            <div class="dialog-footer">
                <button class="m-btn m-btn-content">Huỷ</button>
                <button class="m-btn m-btn-icon btn-save">Lưu và thêm mới</button>
            </div>
        </div>
    </div>
    <script src="../../lib/jquery-3.5.1.min.js"></script>
    <script src="../js/page/employee.js"></script>
</body>

</html>