/* Style chung cho các button */

.n-button{
    width: 30px;
    height: 30px;
    padding: 10px;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-right: 16px;
}

.round-button{
    border-radius: 50%;

}

/* Một số button dùng chung */
.btn-add {
    background-image: url('/content/icon/common/whiteIcon/plus.svg');
    background-color: #ff3860;
}
.btn-refresh {
    background-image: url('/content/icon/common/whiteIcon/refresh-cw.svg');
    background-color: #108ee9;
}
.btn-filter {
    background-image: url('/content/icon/common/whiteIcon/filter.svg');
    background-color: #7cb342;
}
.btn-clear-filter {
       background-image: url('/content/icon/common/whiteIcon/clear-filters.png');
    background-color: #3dbd7d;
}

