/* Button*/

.btn-clear {
    color: #ffffff;
    background-color: #E9EBEE;
    color: #000000;
}

    .btn-clear:hover {
        background-color: #bbbbbb;
    }
/* style lại thành phần body*/
#order-add .dialog-detail {
    width: calc( 100% - 32px);
    height: calc(100vh - 171px);
    border-radius: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    margin-top: 122px;
    margin-left: 16px;
    background-color: none;
}

    #order-add .dialog-detail .dialog-body {
        width: 100%;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: left;
        overflow: scroll;
    }
        #order-add .dialog-detail .dialog-body .dialog-col {
            width: 50%;
        }
#order-add .product-list .product-detail .product-line-right {
    width: 50%;
}

/* Style phần phân loại sản phẩm */

.product-type-group, .product-color-group {
    width: 80%;
    margin-left: auto;

}
.type-line, .color-line {
    display:flex;
}

.remain-quantity {
    font-weight: bold;
    margin-left: auto;
    width: 80%;
}

/* style giỏ hàng */
.empty-mark {
    width: 100%;
    height: 77px;
    background-color: #f8f6f6;
    text-align: center;
    line-height: 75px;
    color: #bbbbbb;
}
.displayNone{
    display: none;
}