.content {
    position: absolute;
    left: 221px;
    top: 49px;
    height: calc(100vh - 49px);
    left:245px;
    right:16px;
}

.title {
    width: 100%;
    height: 65px;
    position: relative;
}

    .title .title-text {
        font-weight: bold;
        font-size: 20px;
        height: 100%;
        position: absolute;
        line-height: 60px;
    }

    .title .title-right {
        display: flex;
        position: absolute;
        right: 0px;
        height: 100%;
    }

    .title .title-sync {
        height: 38px;
        border: 1px solid #e5e5e5;
        align-self: center;
        margin-right: 10px;
        border-radius: 4px;
        display: flex;
    }

        .title .title-sync .hrm-icon {
            width: 16px;
            height: 16px;
            align-self: center;
            margin-left: 16px;
            background-image: url('../../contents/images/hrm icon.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .title .title-sync .hrm-text {
            height: 100%;
            line-height: 38px;
            color: #019160;
            margin-left: 8px;
            padding-right: 16px;
        }

    .title .title-popup {
        height: 40px;
        background-color: #019160;
        align-self: center;
        position: relative;
        border-radius: 4px;
        display: flex;
        border: none;
        outline: none;
        padding:0;
    }

        .title .title-popup .title-popup-text {
            height: 100%;
            border-right: 1px solid #515252;
            display: flex;
            padding-right: 16px;
        }

            .title .title-popup .title-popup-text:hover {
                background-color: #2FBE8E;
            }

        .title .title-popup .arrow-icon {
            width: 40px;
            height: 100%;
            background-image: url('../../contents/images/white-arrow.png');
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: center;
        }

            .title .title-popup .arrow-icon:hover {
                background-color: #2FBE8E;
            }

.title-popup-text .adduser-icon {
    width: 16px;
    height: 16px;
    margin-left: 16px;
    align-self: center;
    background-image: url('../../contents/images/add-user.png');
    background-repeat: no-repeat;
    filter: invert(99%);
}

.title-popup-text .text {
    line-height: 40px;
    color: #f4f4f4;
    margin-left: 8px;
}

.filter {
    width: 100%;
    height: 38px;
    position: relative;
}

    .filter .filter-left {
        height: 100%;
        position: absolute;
        display: flex;
    }

        .filter .filter-left .search-type {
            width: 250px;
            height: 38px;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            display: flex;
            background-image: url('../../contents/images/loupe.png');
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: 16px 12px;
            padding: 0 0 0 40px;
            outline: none !important;
        }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
    color: #bbbbbb;
}

input:focus {
    outline: none !important;
    border-color: #2FBE8E !important;
}

.filter .filter-left .department-popup {
    height: 100%;
    margin-left: 16px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    display: flex;
}

.department-popup .text {
    line-height: 40px;
    font-size: 12px;
    color: #bbbbbb;
    margin-left: 16px;
}

.department-popup .down-arrow {
    width: 40px;
    height: 100%;
    margin-left: 30px;
    align-self: center;
    background-image: url(../../contents/images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.filter .filter-left .state-popup {
    height: 100%;
    margin-left: 16px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    display: flex;
}

.state-popup .text {
    height: 100%;
    border-right: 1px solid #bbbbbb;
    padding-right: 16px;
    line-height: 40px;
    color: #bbbbbb;
    margin-left: 16px;
}

.state-popup .arrow-icon {
    width: 40px;
    height: 100%;
    background-image: url(../../contents/images/black-arrow.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: center;
    filter: invert(70%);
}

.filter .filter-right {
    display: flex;
    position: absolute;
    right: 0px;
    height: 100%;
}

    .filter .filter-right .download-icon {
        height: 100%;
        width: 38px;
        margin-right: 16px;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        background-image: url('../../contents/images/download-arrow.png');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
    }

    .filter .filter-right .refresh-icon {
        height: 100%;
        width: 38px;
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        background-image: url('../../contents/images/refresh.png');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
    }
.grid-content {
    width: 100%;
    margin-top: 10px;
    height: calc(100% - 64px);
    overflow:auto;
}
    .paging {
        width: 100%;
        height: 56px;
        display: flex;
        position:absolute;
        bottom:0;
    }

    .paging .page-info {
        float:left;
        line-height:56px;
    }
    .paging .pages {
        align-items: center;
        justify-content: center;
        width: calc(100% - 350px);
        height: 100%;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .paging .pages button{
        width:40px;
        height:40px;
        border:1px solid #bbbbbb;
        margin-left:10px;
        align-self:center;

    }
        .paging .pages button:focus {
            outline: none;
        }
        .paging .pages .circle {
            border-radius: 30px;
        }
        .paging .pages .circle:focus {
            background-color: #019160;
        }
        .paging .pages .square{
            border-radius:4px;
        }
        .paging .pages .previous-page {
            background-image: url('../../contents/images/left-arrow.png');
            background-size:16px 16px;
            background-repeat:no-repeat;
            background-position:center;
        }
        .paging .pages .next-page {
            background-image: url('../../contents/images/right-arrow.png');
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
        }
            .paging .total-page {
                position: absolute;
                right: 0;
                height: 30px;
                width: 100px;
                background-color: #ffffff;
                align-self: center;
                font: 13px GoogleSans-Regular;
                border: 1px solid #bbbbbb;
                border-radius: 4px;
            }
